<section class="table-container">

  <div class="table-caption">

    <app-global-table-search [table]="dt" [searchId]="'pizzas-search'" />

    <button class="btn btn-outline" (click)="onManagePizza()">
      <em class="icon icon-plus"></em>
      <span>Add</span>
    </button>
  </div>

  <app-table #dt [value]="pizzas()" [columns]="cols()" scrollHeight="65vh" [cellTemplate]="cellTemplate">

    <ng-template #cellTemplate let-rowData let-col="column">
      @switch (col.field) {

      @case ('name') {
      <ng-container>
        <div class="promotion__name" [innerHTML]="rowData[col.field]"></div>
      </ng-container>
      }

      @case('size'){
      <ng-container>
        {{ "from" | translate : { count: rowData[col.field], label: "gram" | translate } }}
      </ng-container>
      }

      @case ('price') {

      <ng-container>
        {{ "from" | translate : { count: rowData[col.field], label: "uah" | translate } }}
      </ng-container>
      }

      @case('options'){
      <ng-container>
        <div class="table-actions">
          <app-actions [data]="rowData" [actions]="actions" />
        </div>
      </ng-container>
      }

      @default {
      <ng-container>
        <span>{{ rowData[col.field]||'-' }}</span>
      </ng-container>
      }
      }
    </ng-template>

  </app-table>
</section>