.p-datatable {
  --p-datatable-header-cell-background: white;
  --p-datatable-transition-duration: all 0.3s;
  --p-datatable-header-cell-border-color: grey;

  --p-datatable-body-cell-border-color: #d7d7d7;
  --p-datatable-body-cell-padding: 4px 8px;

  .p-datatable-thead {
    --p-datatable-header-cell-padding: 4px 8px;
    --p-datatable-column-title-font-weight: 700;
    --p-datatable-header-cell-color: black;
  }
}

.table {
  &-caption {
    display: flex;
    justify-content: space-between;
  }

  &-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
  }
}
