<div class="page">
    <span class="title">Edit Promotion: {{promotion.title}} </span>
    <form [formGroup]="form" (ngSubmit)="update()" class="product">
        <div class="product_image">
            <app-form-item [control]="form.controls.image" field="Image">
                <app-file-uploader formControlName="image" [src]="promotion?.image"></app-file-uploader>
            </app-form-item>
        </div>
        <div class="form">
            <div class="form-row">
                <app-form-item [control]="form.controls.title" field="Title">
                    <input class="form-control" placeholder="Enter Title" formControlName="title">
                </app-form-item>
            </div>

            <div class="form-row">
                <app-form-item [control]="form.controls.status" field="Status">
                    <app-select formControlName="status" placeholder="Select Promotion Status" [items]="promoStatuses">
                    </app-select>
                </app-form-item>

                <app-form-item [control]="form.controls.startedAt" field="Started Date">
                    <app-datepicker formControlName="startedAt" maxDate='-'> </app-datepicker>
                </app-form-item>
            </div>

            <div class="form-row">
                <app-form-item [control]="form.controls.content" field="Content">
                    <textarea class="form-control" placeholder="Enter Description" formControlName="content"></textarea>
                </app-form-item>
            </div>
            <div class="form-row">
                <app-spin-button name="Save" [loading]="loading"></app-spin-button>
            </div>
        </div>
    </form>
</div>