<div class="product-block">
  <div class="item" [formGroup]="pizzaForm">
    <div class="product-row">
      <div class="product_image">
        <img
          class="photo"
          [lazyLoad]="item.image"
          [defaultImage]="defaultImage"
          alt="Замовити піцу"
        />
        <div class="product_weight">
          <span>{{ sizeValue.weight?.toLocaleString("uk") }} {{'gram'|translate}}</span>
        </div>
      </div>
    </div>
    <div class="product-row">
      <a [routerLink]="['/pizza/', item.id]" class="product_name">
        Піца {{ item.name }}</a
      >
    </div>
    <div class="product-row">
      <div class="product_ingredients">
        <span *ngFor="let ingredient of item.ingredients; let last = last">
          {{ ingredient.name }}<ng-container *ngIf="!last">, </ng-container>
        </span>
      </div>
    </div>
    <div class="product-row product-row--centered">
      <p-selectButton
        [options]="sizes"
        formControlName="size"
        class="d-select-button"
      ></p-selectButton>
    </div>

    <div class="product-row product-row--centered">
      <p-selectButton
        [options]="options"
        formControlName="options"
        class="d-select-button d-select-button--separated"
      ></p-selectButton>
    </div>
    <div class="product-row">
      <div class="price">
        <span>{{ this.sizeValue.price?.toLocaleString("uk") }} </span>
        <span class="currency"> {{'uah'|translate}}</span>
      </div>
      <div class="checked_product" *ngIf="count !== 0">
        <button class="basket-button" (click)="removeFromCard(sizeValue)">
          -
        </button>
        <p>{{ count }}</p>
        <button class="basket-button" (click)="addToCard(sizeValue)">+</button>
      </div>
      <button
        class="basket-button"
        *ngIf="count === 0"
        (click)="addToCard(sizeValue)"
      >
        {{ "inBasket" | translate }}
      </button>
    </div>
  </div>
</div>
