@if (item(); as pizza) {
<div class="product-block">
  <div class="item">
    <div class="product-row">
      <div class="product_image">
        <img class="photo" [lazyLoad]="pizza.image" [defaultImage]="defaultImage" alt="Замовити піцу" />
        <div class="product_weight">
          <span>{{ pizza.size[selectedSize()]?.toLocaleString("uk") }}
            {{ "gram" | translate }}</span>
        </div>
      </div>
    </div>
    <div class="product-row">
      <a [routerLink]="['/pizza/', pizza.id]" class="product_name">
        {{ pizza.name | lang }}</a>
    </div>
    <div class="product-row">
      <div class="product_ingredients">
        <!-- <span *ngFor="let ingredient of item.ingredients; let last = last">
            {{ ingredient }}<ng-container *ngIf="!last">, </ng-container>
          </span> -->
      </div>
    </div>
    <div class="sizes">
      @for (size of sizes(); track size ) {
      <div class="sizes__item" [ngClass]="{ 'sizes__item--selected': size.value === selectedSize() }"
        (click)="selectedSize.set(size.value)">
        {{ size.label }}
      </div>
      }
    </div>

    <div class="product-row product-row--centered">
      <p-selectButton [options]="options" class="d-select-button d-select-button--separated"></p-selectButton>
    </div>
    <div class="product-row">
      <div class="price">
        <span>{{ pizza.price[selectedSize()].toLocaleString("uk") }} </span>
        <span class="currency"> {{ "uah" | translate }}</span>
      </div>

      <app-basket-in style="flex:1" [size]="selectedSize()" [productId]="pizza.id" [products]="pizzas()"
        (onChange)="onManageBasket($event)" />
    </div>
  </div>
</div>
}