<section class="table-container">

  <div class="table-caption">
    <app-global-table-search [table]="t" [searchId]="'promotions-search'" />

    <button class="btn btn-outline" [routerLink]="['/admin/promotions/create']">
      <em class="icon icon-plus"></em>
      <span class="button-text"> {{ "labels.add" | translate }}</span>
    </button>
  </div>

  <app-table #t [value]="promotions.value()" [columns]="columns()" scrollHeight="65vh" [cellTemplate]="cellTemplate">

    <ng-template #cellTemplate let-rowData let-col="column">
      @switch (col.field) {

      @case ('name') {
      <a [routerLink]="[rowData.original.id, 'edit']" [innerHTML]="rowData[col.field]"></a>
      }
      @case ('image') {
      <img style="width:75px;height:50px" [lazyLoad]="rowData.image" [alt]="rowData.name | lang" />
      }
      @case ('description') {
      <div class="promotion__description" [innerHTML]="rowData[col.field]"></div>
      }

      @case ('options') {
      <div class="d-table-options">
        <em class="icon" (click)="onDelete(rowData)">Del</em>
      </div>
      }

      @case('actions'){
      <ng-container>
        <div class="table-actions">
          <app-actions [data]="rowData" [actions]="actions" />
        </div>
      </ng-container>
      }

      @default {
      <ng-container>
        <span>{{ rowData[col.field]||'-' }}</span>
      </ng-container>
      }
      }
    </ng-template>

  </app-table>
</section>