.modal-header {
  background-color: black;
  color: snow;
}

.modal-body {
  text-align: center;
  padding: 50px;
}

.footer {
  text-align: center;
}
.example-button-row {
  button {
    width: 40%;
    margin: 0px 10px;
  }
}
p {
  text-align: center;
  margin-top: 10px;
}
.modal-content {
  padding: 20px 30px 30px 20px;
}
.modal-footer {
  padding-top: 10px 0 0 0;
  background-color: rgb(202, 199, 199);
  justify-content: center;

  .example-button-row {
    display: flex;
    width: 100%;
    justify-content: center;
    button {
      margin: 0px 10px;
      width: 30%;
    }
  }
}
