.modal-header {
  background-color: black;
  color: snow;
}

.modal-body {
  text-align: center;
  padding: 50px;
}

.footer {
  text-align: center;
}
.example-button-row {
  button {
    width: 40%;
    margin: 0px 10px;
  }
}
p{
  text-align: center;
  margin-top: 10px;
}
