mat-icon {
  background-color: blue;
  color: white;
  width: 100%;
  height: 100%;
  font-size: 30px;
  outline: none;
  cursor: pointer;
}
.action {
  display: flex;
  float: right;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
  width: 100%;
  height: 100%;
  img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }
}
.params {
  display: block;
  padding: 10px;
  text-align: start;
}
.product {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.pizza-image{
  max-width: 700px;
  max-height: 400px;
}
h2{
  margin:20px;
}