<footer class='footer-content'>
      <div class="footer-menu-items">
        <span>Domino's Pizza</span>
          <nav>
          <a routerLink="/"> Menu </a>
          <a routerLink="/pizzas">Pizzas</a>
          <a routerLink="/promotions">Promotions</a>
        </nav>
      </div>
      <div class="footer-menu-items" *ngxPermissionsOnly="isManagement">
        <span>Settings</span>
        <nav>
          <a href={{swaggerUILink}} >Swagger</a>
        </nav>
      </div>
      <div class="logo">
         <a routerLink="/">Domino's Pizza</a> 
      </div>
</footer>

