<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Select Time</h4>
    </div>
    <div class="modal-body">
        <ngb-timepicker [minuteStep]="10" [(ngModel)]="model"></ngb-timepicker>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close(model)">Save</button>
    </div>
</ng-template>

<form class="form-inline">
    <div class="input-group">
        <input type="text" class="form-control" [ngModel]="value|date:'shortTime'" name="time"
            (ngModelChange)="change($event)" disabled>
        <div class="input-group-append">
            <button class="btn-outline-secondary" type="button" (click)="open(content)">
                <span class="material-icons"> schedule </span>
            </button>
        </div>
    </div>
</form>