<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Address</th>
            <th scope="col">
                <app-spin-button name="Add New" class="nav-item" color="basic"></app-spin-button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let shop of shops;index as i;">
            <th scope="row">{{i+1}}</th>
            <td>{{shop.id}}</td>
            <td>{{shop.address}}</td>
            <td>
                <div class="icon-action">
                    <mat-icon (click)="delete(shop)" aria-hidden="false" aria-label="Example home icon">
                        delete_forever
                    </mat-icon>
                    <mat-icon aria-hidden="false" aria-label="Example home icon">edit </mat-icon>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<ngb-pagination [collectionSize]="collectionSize*10" [(page)]="page" [maxSize]="4" [rotate]="true"
    (pageChange)="showPage($event)" aria-label="Custom pagination">
</ngb-pagination>
