  
.payment-result {
  padding-top: 10px;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  max-width: 252px;

  span {
    font-size: 28px;
    font-weight: bolder;
  }
}

button {
  height: 50px;
  width: 100%;
  margin: 10px 0px;
  background: #e31837;
  border-radius: 15px;
  border: 0px;
  outline: none;
  color: snow;
  font-size: 18px;

  &:hover {
    background: rgb(143, 7, 7);
  }
  &:active {
    background: black;
  }
}
