.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    app-spin-button {
        margin-top: 10px;
        width: 80%;
    }
}

.payment-result {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    h2 {
        margin: 0 5px;
    }
}

h4{
    color:blue;
    cursor: pointer;
}
