<p>Child Work </p>
<!-- <div class="chat-content">
    <div class="messages-list" #scrollMe>
        <div *ngFor="let message of messages">
            <div class="msg message-owner" *ngIf="message.user.id === user?.id; else guest">
                <img class="user-icon" src={{message.user.image}} alt="" srcset="">
                <div class="message-content">
                    <div class="message"> {{message.message}} </div>
                    <div class="time">{{message.createdAt|date:'medium'}}</div>
                </div>
                <span class="material-icons" (click)="remove(message)"> delete_forever </span>

            </div>

            <ng-template #guest>
                <div class="msg">
                    <img class="user-icon" src={{message.user.image}} alt="" srcset="">
                    <div class="message-content">
                        <div class="message"> {{message.message}} </div>
                        <div class="time">{{message.createdAt|date:'medium'}}</div>
                    </div>
                    <span class="material-icons" (click)="remove(message)"> delete_forever </span>

                </div>
            </ng-template>
        </div>
    </div>
    
</div>
<div class="message-send">
    <input type="text" class="form-group" [(ngModel)]="messageContent" (keyup.enter)="sendMessage(messageContent)">
    <button type="button" (click)="sendMessage(messageContent)">Send</button>
</div> -->