.modal-header {
  background-color: black;
  color: snow;
  span {
    cursor: pointer;
  }
}

.modal-body {
  text-align: center;
  padding: 50px;
}

.footer {
  text-align: center;
}
.example-button-row {
  button {
    width: 40%;
    margin: 0px 10px;
  }
}
p {
  text-align: center;
  margin-top: 10px;
}
.modal-content {
  padding: 20px 30px 30px 20px;
  border: 0px;
}
.modal-footer {
  padding-top: 10px 0 0 0;
  background-color: rgb(202, 199, 199);
  justify-content: center;

  app-spin-button {
    width: 70%;
  }
}
