<div class="modal-header">
  <h4 class="modal-title">Авторизація </h4>
  <span class="material-icons" (click)="close()"> close </span>
</div>
<form [formGroup]="authForm" (ngSubmit)="login()">
  <div class="modal-content">
    <app-form-item [control]="authForm.controls.username" field="Username">
      <input type="text" class="form-control" formControlName="username" placeholder="Enter Username">
    </app-form-item>
    <app-form-item [control]="authForm.controls.password" field="Password">
      <input type="password" class="form-control" formControlName="password" placeholder="Enter Password">
    </app-form-item>
  </div>

  <div class="modal-footer">
    <app-spin-button type="submit" name="Log In" class="btn btn-primary" [loading]="spinLogIn"> </app-spin-button>
    <p>
      Have not account yet? Please,
      <a routerLink="/auth/registration" (click)="close()">register</a>
      your`s profile
    </p>
  </div>
</form>