@import "../../../../styles/helpers/index";

.mode-changer {
  &__wrapper {
    display: flex;
  }
  &__item {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;

    background-color: $c-white;
    color: $c-gray;
    cursor: pointer;
    transition: all 0.3s;

    &--active {
      background-color: $c-gray;
      color: $c-white;
    }
  }
}
