<div class="pizza-edit-route">
  <h4>Edit Pizza</h4>

  <form [formGroup]="pizzaForm" (ngSubmit)="onSubmit()">
    <div class="ant-col">
      <div class="form-item">

        <app-form-item [control]="pizzaForm.controls.name" field="Name">
          <input class="form-control" formControlName="name" placeholder="Enter Name" />
        </app-form-item>
      </div>
      <div class="form-item">

        <app-form-item [control]="pizzaForm.controls.category" field="Category">
          <app-select formControlName="category" placeholder="Select Categories" [items]="categories" trackBy="value">
          </app-select>
        </app-form-item>

        <app-form-item [control]="pizzaForm.controls.ingredients" field="Ingredients">
          <ng-multiselect-dropdown placeholder='Select Ingredients' [data]="ingredients" [(ngModel)]="selectedItems"
            formControlName="ingredients" [settings]="dropdownSettings">
          </ng-multiselect-dropdown>
        </app-form-item>



      </div>
    </div>
    <div formGroupName="weight">
      <div class="ant-col">

        <app-form-item [control]="pizzaForm.get('weight')['controls'].small" field="Small Weight">
          <input class="form-control" formControlName="small" placeholder="Enter Small Weight" />
        </app-form-item>

        <app-form-item [control]="pizzaForm.get('weight')['controls'].middle" field="Middle Weight">
          <input class="form-control" formControlName="middle" placeholder="Enter Middle Weight" />
        </app-form-item>

        <app-form-item [control]="pizzaForm.get('weight')['controls'].big" field="Big Weight">
          <input class="form-control" formControlName="big" placeholder="Enter Big Weight" />
        </app-form-item>

      </div>
    </div>
    <div formGroupName="price">
      <div class="ant-col">

        <app-form-item [control]="pizzaForm.get('price')['controls'].small" field="Small Price">
          <input class="form-control" formControlName="small" placeholder="Enter Small Price" />
        </app-form-item>

        <app-form-item [control]="pizzaForm.get('price')['controls'].middle" field="Middle Price">
          <input class="form-control" formControlName="middle" placeholder="Enter Middle Price" />
        </app-form-item>

        <app-form-item [control]="pizzaForm.get('price')['controls'].big" field="Big Price">
          <input class="form-control" formControlName="big" placeholder="Enter Big Price" />
        </app-form-item>
      </div>
    </div>
    <div class="ant-col">

      <app-spin-button name="Confirm" [loading]="loading"> </app-spin-button>
    </div>
  </form>

  <form [formGroup]="uploadImage">
    <div class="pizza-image">
      <app-file-uploader [src]="url" (upload)="showFile($event)"></app-file-uploader>
    </div>
    <app-spin-button name="Upload" [loading]="loading" (click)="upload()"></app-spin-button>
  </form>

</div>




<div class="ant-col">
  <a routerLink="/">Great work! Go to Home Page</a>
</div>