.ant-col {
  min-width: 300px;
  width: 30%;
  padding-left: 15px;
  padding-right: 15px;

  img {
    width: 300px;
    border-radius: 10px;
  }
}
form {
  display: flex;
  flex-wrap: wrap;

  app-spin-button {
    margin-top: 10px;
    width: 70%;
  }
}
