<h4>Edit Pizza</h4>

<mat-horizontal-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="pizzaForm">
    <ng-template matStepLabel>Add components</ng-template>

    <form [formGroup]="pizzaForm" (ngSubmit)="onSubmit()">
      <div class="ant-col">
        <div class="form-item">
          <app-form-item [control]="pizzaForm.controls.name" name="name">
            <input matInput formControlName="name" placeholder="Enter Name" />
          </app-form-item>
        </div>
        <div class="form-item">
          <app-form-item [control]="pizzaForm.controls.category" name="pizzaCategory">
            <mat-select formControlName="category">
              <mat-option *ngFor="let item of categories" [value]="item.value">
                {{ item.value }}
              </mat-option>
            </mat-select>
          </app-form-item>
          <app-form-item [control]="pizzaForm.controls.category" name="ingredients">
            <mat-select formControlName="ingredients" multiple>
              <mat-select-trigger>
                <span class="example-additional-selection">{{ pizzaForm.controls.ingredients.value[0]?.name }}
                  +
                  {{ pizzaForm.controls.ingredients.value.length }}
                  other(s)
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let ingredient of ingredients" [value]="ingredient.id">
                {{ ingredient.name }}
              </mat-option>
            </mat-select>
          </app-form-item>
        </div>
      </div>
      <div formGroupName="weight">
        <div class="ant-col">
          <app-form-item [control]="pizzaForm.get('weight')['controls'].small" name="small" class="field">
            <input formControlName="small" placeholder="Enter Small Weight" />
          </app-form-item>
          <app-form-item [control]="pizzaForm.get('weight')['controls'].middle" name="middle" class="field">
            <input formControlName="middle" placeholder="Enter Middle Weight" />
          </app-form-item>
          <app-form-item [control]="pizzaForm.get('weight')['controls'].big" name="big" class="field">
            <input formControlName="big" placeholder="Enter Big Weight" />
          </app-form-item>

        </div>
      </div>
      <div formGroupName="price">
        <div class="ant-col">
          <app-form-item [control]="pizzaForm.get('price')['controls'].small" name="small">
            <input formControlName="small" placeholder="Enter Small Price" type="number" />
          </app-form-item>

          <app-form-item [control]="pizzaForm.get('price')['controls'].middle" name="middle">
            <input formControlName="middle" placeholder="Enter Middle Price" type="number" />
          </app-form-item>

          <app-form-item [control]="pizzaForm.get('price')['controls'].big" name="big">
            <input formControlName="big" placeholder="Enter Big Price" type="number" />
          </app-form-item>
        </div>
      </div>
      <div class="ant-col">

        <app-spin-button name="Confirm" [loading]="loading">        </app-spin-button>
      </div>
    </form>

  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Upload image</ng-template>
    <div class="ant-col">
    <!-- <div class="example-button-row"> -->
      <form [formGroup]="uploadImage" (ngSubmit)="onSubmit()">
        <input type="file" style="display:none" (change)="onFileSelected($event)" #fileInput />
        <img [src]="url" height="200" (click)="fileInput.click()" />
        <app-spin-button name="Upload" [loading]="loading" (click)="upload()"></app-spin-button>
      </form>
    <!-- </div> -->
  </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Finish!</ng-template>
    <div class="ant-col">
    <a routerLink="/">Great work! Go to Home Page</a>
    </div>
  </mat-step>
</mat-horizontal-stepper>