<div class="promos-slider">
  @if (promos(); as promos) {

  @for (promo of promos; track promo) {
  <div class="promo-slide">
    <div class="promo-navigation">
      <a [routerLink]="['/promotions/', promo.id]" class="product_name">
        <button class="promo-button">{{ "detailsLabel" | translate }}</button>
      </a>
    </div>
    <img class="promo-image" [lazyLoad]="promo.image" [defaultImage]="defaultImage" [alt]="promo.name" />
  </div>
  }
  } @else {
  <span>Promotions not found</span>
  }
</div>