.promos-slider {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.promo {
  &-slide {
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &-navigation {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
  }
}
