<div class="form">
  <form [formGroup]="registerForm" (ngSubmit)="register()">

    <app-form-item [control]="registerForm.controls.fullName" field="Full Name">
      <input type="text" class="form-control" formControlName="fullName" placeholder="Enter Full Name">
    </app-form-item>

    <app-form-item [control]="registerForm.controls.username" field="Username">
      <input type="text" class="form-control" formControlName="username" placeholder="Enter Username">
    </app-form-item>

    <app-form-item [control]="registerForm.controls.email" field="Email">
      <input type="text" class="form-control" formControlName="email" placeholder="Enter Email">
    </app-form-item>

    <app-form-item [control]="registerForm.controls.password" field="Password">
      <input type="password" class="form-control" formControlName="password" placeholder="Enter Password">
    </app-form-item>

    <app-form-item [control]="registerForm.controls.confirmPassword" field="Confirm Password" otherField="Password">
      <input type="password" class="form-control" formControlName="confirmPassword"
        placeholder="Enter Confirm Password">
    </app-form-item>

    <div class="confirm">
      <app-spin-button [loading]="spinRegister" name="Register"></app-spin-button>
    </div>
  </form>
</div>

<p>Have account? Click <span (click)="openAuthModal()">Login</span></p>