<section class="d-table__wrapper">
  <p-table
    #dt
    *ngIf="shops$ | async as shops"
    [value]="shops"
    [columns]="cols"
    responsiveLayout="stack"
    [rowHover]="true"
    [rows]="100"
    scrollHeight="65vh"
    [virtualScroll]="true"
    [virtualRowHeight]="20"
  >
    <ng-template pTemplate="caption">
      <div class="d-table__caption pt-table__caption--external">
        <div class="caption-actions">
          <button class="button button-icon" [disabled]="true">
            <em [inlineSVG]="'add.svg'"></em>
            <span class="button-text"> {{ "labels.add" | translate }}</span>
          </button>
        </div>
        <div class="global-search icon-input">
          <em class="icon" [inlineSVG]="'search.svg'"></em>
          <input
            pInputText
            type="text"
            class="input"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            [placeholder]="'labels.search' | translate"
          />
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr class="d-table__header">
        <th
          *ngFor="let col of columns"
          scope="col"
          class="d-table__title"
          [ngStyle]="{ width: col?.width ? col.width : 'auto' }"
          [pSortableColumn]="col.field"
        >
          <span>{{ col.header | translate }}</span>
          <p-sortIcon *ngIf="col.sortable" [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-rowData
      let-columns="columns"
      let-rowIndex="rowIndex"
    >
      <tr class="d-table__row">
        <ng-container *ngFor="let col of columns">
          <td [ngSwitch]="col.field" class="d-table__cell">
            <span class="p-column-title">{{ col.header | translate }}</span>

            <ng-container *ngSwitchCase="'image'">
              <img
                [src]="rowData[col.field]"
                [alt]="rowData['name'] | lang"
                style="width:100%"
              />
            </ng-container>

            <ng-container *ngSwitchCase="'options'">
              <div class="d-table-options">
                <!-- <em
                  class="icon"
                  [inlineSVG]="'edit.svg'"
                  (click)="onEditShop(rowData)"
                ></em> -->
                <em
                  class="icon"
                  [inlineSVG]="'trash.svg'"
                  (click)="onDelete(rowData)"
                ></em>
              </div>
            </ng-container>
            <ng-container *ngSwitchDefault>{{
              rowData[col.field]|translate
            }}</ng-container>
          </td>
        </ng-container>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length" class="d-table__empty-message">
          {{ "messages.noRecords" | translate }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</section>
