<div class="delivery_page">
  <div class="order">
    <h3>Оформлення замовлення</h3>
    <div class="navigator">
      <div class="navigator-bar" routerLink="shipping" routerLinkActive="active">
        Доставка
      </div>
      <div class="navigator-bar" routerLink="carryout" routerLinkActive="active">
        Самовивіз
      </div>
    </div>
    <div class="form">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="order">
    <h3>Ваше замовлення</h3>
    <div *ngFor="let item of list">
      <app-basket-card-item [item]="item"></app-basket-card-item>
    </div>
    <div class="amount" *ngIf="totalAmount >= 1">{{ totalAmount }} грн</div>
    <div class="amount" *ngIf="totalAmount < 1">Basket is empty!</div>
  </div>
</div>