<div class="table-responsive-sm">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col" routerLink="/pizzas/create">
          <span class="action">Add New</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pizza of pizzas; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ pizza.id }}</td>
        <td>{{ pizza.name }}</td>
        <td>{{ pizza.category }}</td>
        <td>
          <div class="icon-action">
            <span (click)="delete(pizza)" class="material-icons">
              delete_forever
            </span>
            <span
              class="material-icons"
              routerLink="/pizzas/{{ pizza.id }}/edit"
              >edit
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="pagination" *ngIf="collectionSize > 1">
  <ngb-pagination
    [collectionSize]="collectionSize * 10"
    [(page)]="page"
    [maxSize]="4"
    [rotate]="true"
    (pageChange)="showPage($event)"
    aria-label="Custom pagination"
  >
  </ngb-pagination>
</div>
