<div class="pizza-item">
  <div class="pizza-block">
    <div class="image-pizza">
      <img src="../../assets/data/pizza.jpg" alt="Замовити піцу" />
    </div>
    <div class="pizza-description">
      <div class="pizza-title-row">
        <a href="">{{ item.name }}</a>
      </div>
      <div class="pizza-info-row">
        <span> {{ item.ingredients }}</span>
        <a href="">Замінити інгредієнти</a>
      </div>
      <div class="pizza-details">
        <div class="pizza-sizes">
          <button
            (click)="getPizzaPrice(item, $event)"
            *ngFor="let size of sizes"
          >
            {{ size }}
          </button>
        </div>
        <div class="pizza-option">
          <button>Стандарт</button>
          <button>Тонке</button>
          <button>Філадельфія</button>
          <button>Борт Хот-Дог</button>
        </div>
      </div>
    </div>
    <div class="pizza-price">
      <div class="currency" *ngIf="!price">{{ item.price.low }}&nbsp;грн</div>
      <div class="currency" *ngIf="price">{{ price }}&nbsp;грн</div>
      <button (click)="onClickMe(item)">В кошик</button>
    </div>
  </div>
</div>
