.active {
  background: #4f4f4f !important;
  color: white;
}
.pizza-item {
  display: flex;
  height: 504px;
  width: 315px;
  padding: 10px;
  margin: 0px;
}

.pizza-block {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 10px;
  background: white;

  .image-pizza > img {
    height: 176px;
    border-radius: 10px;
  }
}
.pizza-block:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.pizza-description {
  width: 100%;
  text-align: left;

  .pizza-title-row {
    margin: 20px 0 0 10px;

    a {
      font-size: 14px;
      font-weight: 600;
      text-decoration: none;
      color: #222;
    }
  }

  .pizza-info-row {
    display: flex;
    height: 55px;
    flex-direction: column;
    margin: 20px 0 0 10px;
    font-size: 11px;

    span {
      color: #4f4f4f;
      transition: color 0.3s ease;
      line-height: 146%;
      padding-bottom: 2px;
    }
    a {
      color: #222;
    }
    a:hover {
      color: black;
    }
  }
}

.pizza-details div button {
  background-color: transparent;
  border: 0px;
  outline: none;
  height: 30px;
}

.pizza-details {
  width: 100%;
  height: 100px;

  .pizza-sizes {
    width: 100%;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background: #f8f8f8;
    display: flex;
    border-radius: 15px;

    button {
      width: calc(100% / 3);
      border-radius: 15px;
    }
    button:active {
      background: #4f4f4f;
      color: white;
    }
  }

  .pizza-option {
    display: inline-block;
    width: 100%;
    padding-top: 10px;

    button {
      width: calc(100% / 2);
      border-radius: 15px;
      background: #f8f8f8;
      margin-bottom: 5px;
    }

    button:active {
      background: #4f4f4f;
      color: white;
    }
  }
}

.pizza-price {
  display: flex;
  border-radius: 20px;
  margin-top: 20px;

  .currency {
    width: 50%;
    color: black;
    margin: auto;
    font-weight: bolder;
  }

  button {
    width: 50%;
    background: #e31837;
    border-radius: 15px;
    border: 0px;
    height: 50px;
    color: snow;
    font-size: 18px;
    font-weight: 700;
    font-family: Open Sans, sans-serif;
  }
  button:focus {
    border: 1px solid #4f4f4f;
  }
  button:hover {
    background: rgb(165, 13, 13);
  }
}
