.dropdown-down {
    display: inline-block;
    margin: 5px;
    border-top: 10px solid #adadad;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.dropdown-clear::after {
    display: inline-block;
    margin: 0 9px;
    content: "\2715"; /* use the hex value here... */
    color: #adadad;
    text-align: center;
}
