<div ngbDropdown class="form-group">

  <ul class="form-control" ngbDropdownToggle>
    <div class="dropdown-value">
      <span *ngIf="value; else noItem">
        {{ value }}
      </span>
        <span *ngIf="value" class="dropdown-clear" (click)=clear()></span>
      </div>
      <ng-template #noItem>
        <div class="dropdown-value">
        <span>{{ placeholder }}</span>  
          <span class="dropdown-down"></span>
        </div>
      </ng-template>
  </ul>

  <div ngbDropdownMenu class="dropdown-menu">
    <button type="button" [disabled]="isDisabled" class="dropdown-item" *ngFor='let item of items'
      (click)="selectItem(item)">
      {{ item[trackBy] }}
    </button>
  </div>
</div>