<div class="form">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
      <app-input type="text" formControlName="fullName" placeholder="Enter Full Name"></app-input>
      <app-input type="text" formControlName="username" placeholder="Enter Username"></app-input>
      <app-input type="text" formControlName="email" placeholder="Enter Email"></app-input>
      <app-input type="password" formControlName="password" placeholder="Enter Password"></app-input>
      <app-input type="password" formControlName="confirmPassword" placeholder="Enter Confirm Password">
      </app-input>
      <app-spin-button [loading]="spinRegister" name="Register"></app-spin-button>
  </form>
</div>

<p>Have account? Click <span (click)="openAuthModal()">Login</span></p>