<div class="form">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <mat-form-field appearance="outline" class="field">
      <mat-label>Enter Full Name</mat-label>
      <input matInput formControlName="fullName" />
      <mat-error *ngIf="hasError('fullName', 'required')">
        The field is required
      </mat-error>
      <mat-error *ngIf="hasError('fullName', 'maxlength')">
        The fied should contain maximum 15 symbols
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="field">
      <mat-label>Enter Username</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="field">
      <mat-label>Enter Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="field">
      <mat-label>Enter Password</mat-label>
      <input matInput formControlName="password" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="field">
      <mat-label>Enter Confirm Password</mat-label>
      <input matInput formControlName="confirmPassword" />
    </mat-form-field>

    <div class="row-form">
      <label>
        <button type="submit">
          Register
        </button>
      </label>
    </div>
  </form>
</div>

<p>Have account? Click <a routerLink="/">Login</a></p>
