<div class="dp-header-desktop">
    <div class="fake-header">Fake Header</div>
    <div class="main-header">
        <a class="logo" href="https://dominos.ua/uk/kyiv/">
            <img src="../../../favicon.ico">
            Domino's Pizza
        </a>
        <nav class="navigation">
            <div class="nav-link"><a href="https://dominos.ua/uk/kyiv/promotions/">Акції</a></div>
            <div class="nav-link"><a href="https://dominos.ua/uk/kyiv/Pizza/">Піца</a></div>
            <div class="nav-link"><a href="https://dominos.ua/uk/kyiv/Drinks/">Напої</a></div>
            <div class="nav-link"><a href="https://dominos.ua/uk/kyiv/Sides/">Сайди</a></div>
            <div class="nav-link"><a href="https://dominos.ua/uk/kyiv/Starter/">Десерти</a></div>
        </nav>
        <div class="market">
            <div class="count">
                <span>00</span>
            </div>
            <button>Замовити</button>
        </div>
    </div>
</div>