<div class="delivery_page">
  <div class="order">
    <h3 class="title">{{ "pageTitles.order" | translate }}</h3>
    <div class="navigator">
      <div
        class="navigator-bar"
        routerLink="shipping"
        routerLinkActive="active"
      >
        {{ "deliveryLabel" | translate }}
      </div>
      <div
        class="navigator-bar"
        routerLink="carryout"
        routerLinkActive="active"
      >
        {{ "selfPickupLabel" | translate }}
      </div>
    </div>
    <div class="form">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="order">
    <h3>{{ "yourOrderLabel" | translate }}</h3>
    <div class="order__container">
      <div class="order__list">
        <ng-container *ngFor="let product of (products$ | async).pizzas">
          <app-basket-card-item [item]="product"></app-basket-card-item>
        </ng-container>
        <ng-container *ngFor="let product of (products$ | async).drinks">
          <app-basket-card-item [item]="product"></app-basket-card-item>
        </ng-container>
      </div>
      <div class="amount">
        {{ (totalAmount$ | async).toLocaleString() }} {{ "uah" | translate | uppercase }}
      </div>
    </div>
  </div>
</div>
