@if (promotion(); as promo) {
<div class="promotion__container">
  <div class="promotion__content">
    <img class="promotion__image" [src]="promo.image" alt="noopener noreferrer" />

    <div class="promotion__details">
      @switch (promo.status) {

      @case (status.Active) {
      <span class="promotion__date promotion__date--active">
        <ng-container>
          @if (promo.endedAt) {
          Активна до {{ promo.endedAt | date: "dd.MM.yyyy" }}
          } @else {
          Активна з {{ promo.startedAt | date: "dd.MM.yyyy" }}
          }
        </ng-container>
      </span>
      }

      @case(status.New){
      <span class="promotion__date">
        Незабаром {{ promo.startedAt | date: "dd.MM.yyyy" }}
      </span>
      }
      @default {
      <span class="promotion__date promotion__date--finished">{{ "Завершена" }}</span>
      }
      }
      <h1 class="promotion__title">{{ promo.name }}</h1>

      <article class="promotion__description" [innerHTML]="promo.description"></article>
    </div>
  </div>

  @if (promotions(); as promotions) {
  <div class="promotion__other">
    <div class="promotion__other-label"> Інші акції: </div>

    @for (promotion of promotions; track promotion.id ) {
    <app-card-news class="swiper-slide" [promo]="promotion" />
    }
  </div>
  }
</div>
}