.modal-body {
    padding: 2rem;

    p {
        text-align: center;
    }
}
.modal-actions {
    display: flex;
    justify-content: space-around;

    .btn {
        min-width: 85px;
        height: 40px;
    }
}
