.btn-promo {
  outline: none;
  background-color: white;
  opacity: 0.5;
  border-radius: 5px;
  border: 0px;
  color: black;
  font-size: 20px;
  &:hover {
    opacity: 1;
  }
  &:active,
  &:focus {
    outline: none;
  }
}
.basket-button {
  width: 129px;
  height: 46px;
  font-weight: bold;
  font-size: 16px;
  color: snow;
  background-color: #e31837;
  border: 0px;
  border-radius: 23px;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: rgb(148, 13, 13);
  }
  &:active {
    background-color: black;
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

.btn {
  padding: 0px;
  min-width: 150px;
  height: 40px;
  font-size: 20px;
  outline: none;
  font-weight: bold;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  &--red {
    background-color: red;
  }
  &--gray {
    background-color: lightgrey;
  }
  &--yellow {
    background-color: yellow;
  }
}
.btn:focus {
  box-shadow: none;
}

.button {
  outline: none;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  border-width: 1px;
  border-color: transparent;
  transition: all 0.3s;
  cursor: pointer;
  background-color: transparent;
  // @include genText(1rem, 1rem, 600);
  &:hover:not(:disabled) {
    opacity: 1;
  }

  &:active:not(:disabled) {
    transform: translateY(2px);
  }

  // &--blue {
  //   background-color: $c-blue;
  //   color: $c-white;
  // }
  // &--orange {
  //   background-color: $c-orange;
  //   color: $c-white;
  // }
  // &--white {
  //   border: 1px solid rgba($c-gray, 0.5);
  // }

  &--maximize {
    width: 100%;
  }

  &--big {
    padding: 0.5rem 1rem;
  }

  &--maximize {
    width: 100%;
  }

  &--medium {
    padding: 0.5rem 0.5rem;
  }

  &--small {
    padding: unset;
    min-height: auto;
  }

  &__link {
    background-color: transparent;
    border-color: transparent;
    text-decoration: underline;
    &.button--blue {
      color: blue;
      &:hover {
        // background-color: rgba($c-blue, 0.04);
      }
    }
  }
}

.button-text {
  // @include genText(0.8rem, 1rem);
  margin: 0 5px;

  &--blue {
    color: blue;
  }
}

.button-icon {
  display: flex;
  align-items: center;
  transition: all 0.3s;
  &:hover:not(:disabled) {
    border-width: 1px;
    border-style: solid;
    // background-color: rgba($c-gray, 0.1);
  }
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;

  .icon {
    cursor: not-allowed;
  }
}
