@import "./helpers/index";

.p-dialog-mask.p-component-overlay-enter {
  background-color: $bg-gray-transparent;
  pointer-events: auto;
}
.d-dialog {
  &.p-dialog {
    background-color: $c-white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    max-width: 95%;
    @include mobile {
      width: 90%;
    }
    .p-dialog-header {
      display: flex;
      height: $dialog-footer-height;
      border-bottom: 1px solid $c-gray;
      padding: 20px;

      &-icons {
        .p-dialog-header-icon {
          cursor: pointer;
          border: 0;
          outline: none;
          background-color: transparent;
          border-radius: 50%;
          padding: 6px;
          transition: all 0.3s;
          &:hover {
            background-color: $c-gray-2;
          }
        }
        .p-dialog-header-close-icon {
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-image: url("/assets/icons/close.svg");
        }
      }
    }
    .p-dialog-content {
      position: relative;
    }
    .p-dialog-title {
      @include genText(1.2rem, 1.2rem, bold);
    }
  }

  &__buttons {
    height: $dialog-footer-height;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .button {
      margin: 0 5px;
      max-width: 10rem;
      min-height: 2.5rem;
      width: 100%;
      font-size: 1rem;
    }

    @include mobile {
      height: auto;
      flex-wrap: wrap;
      margin: 5px 0;
      .button {
        margin: 5px;
        max-width: 90%;
      }
    }
  }

  &--warn {
    &.p-dialog {
      border: 1px solid $c-orange;
    }
  }
}

.d-confirm-dialog {
  &.p-dialog {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background: $c-white;
    width: 400px;
    @include mobile {
      width: 100%;
      max-width: 300px;
    }

    .p-dialog-header-icons {
      display: none;
    }
  }

  .p-dialog-content {
    margin: 10px 20px;
    min-height: 100px;
    justify-content: center;
    .p-confirm-dialog-message {
      @include genText(16px, 18px, 600, $c-black);
    }
  }
  .p-dialog-footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

    .p-confirm-dialog-accept,
    .p-confirm-dialog-reject {
      @include mobile {
        max-width: 115px;
        width: 100%;
        min-width: unset;
      }
    }
  }
}
.d-confirm-dialog--warning {
  &.p-dialog {
    border: 1px solid $c-yellow;
  }
}
.d-confirm-dialog--dangerous {
  &.p-dialog {
    border: 1px solid $c-red;
  }
}
