@import "./helpers/index";

.d-multi-select {
  .p-multiselect {
    width: 100%;
    position: relative;
    background-color: $c-gray-2;
    border: 1px solid $c-gray-1;
    border-radius: 8px;
  }
  .p-multiselect-label {
    padding: 5px 30px 5px 10px;
    display: flex;
    width: 100%;
    align-items: center;
    min-height: 40px;
    @include genText(14px, 16px, normal, $c-black);
    display: flex;
    flex-wrap: wrap;
  }
  .p-multiselect-items-wrapper {
    margin-top: 5px;
    border-radius: 5px;
    background-color: #f3f4f5;
    border: 1px solid #ced4da;

    .p-multiselect-item {
      padding: 0 7px;
      color: black;
      margin: 5px 10px;
      transition: all 0.3s;
      &:hover {
        background-color: #ced4da;
      }
    }
  }
  .p-hidden-accessible {
    display: none;
  }
  .p-multiselect-token {
    padding: 5px;
    margin: 2px;
    background: #ced4da;
    border-radius: 8px;
  }
  .p-multiselect-close {
    display: none;
  }
  .p-multiselect-trigger {
    width: 30px;
    .p-multiselect-trigger-icon {
      transition: 0.5s;
      &.pi-chevron-down {
        position: absolute;
        background-repeat: no-repeat;
        background: url(/assets/icons/arrow.svg);
        width: 10px;
        height: 15px;
        transform: rotate(-90deg);
      }
    }
  }

  .p-multiselect-open {
    .p-multiselect-trigger-icon.pi-chevron-down {
      transform: rotate(90deg);
    }
  }
  .p-multiselect-token-icon {
    position: relative;
    cursor: pointer;
    margin: 0 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border: 1px solid gray;
    border-radius: 50%;
    &.pi-times-circle {
      background-image: url(/assets/icons/cancel-grey.svg);
    }
  }
}
