@import "./helpers/index";

.d-select-button {
  .p-selectbutton {
    display: flex;
  }

  .p-button {
    border: 1px solid $c-gray;
    background-color: $c-light-gray;
    transition: all 0.3s;

    .p-button-label {
      @include genText(14px, 16px, normal, $c-black);
      padding: 5px 15px;
    }

    &.p-highlight {
      background-color: $c-gray;
      .p-button-label {
        color: $c-white;
      }
    }
  }
  .p-buttonset {
    .p-button:first-of-type {
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }
    .p-button:last-of-type {
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }

  &--separated {
    .p-selectbutton {
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .p-button {
      width: 45%;
      border-radius: 12px;
    }
    .p-buttonset {
      .p-button {
        margin: 5px;
      }

      .p-button:not(:first-of-type):not(:last-of-type) {
        border-radius: 12px;
        border-right: 1px solid $c-gray;
      }
      .p-button:first-of-type {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        border-right: 1px solid $c-gray;
      }
      .p-button:last-of-type {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        border-right: 1px solid $c-gray;
      }
    }
  }
}
