@import "../styles/helpers/index";

.d-table {
  .p-datatable table {
    width: 100%;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  table,
  td {
    border: 1px solid $c-gray;
  }
  .p-datatable-thead {
    th {
      @include genText(16px, 16px, bold, $c-white);
      text-align: center;
      padding: 5px;
      background-color: $c-gray;
      border-right: 1px solid $c-white;
    }
    th.cell-actions {
      width: 100px;
    }
    th:last-child {
      border-right: inherit;
    }
  }
  .p-datatable-tbody {
    td {
      padding: 5px;
    }
    td.cell-actions {
      background-color: $c-gray-1;
    }
  }
}
.cell-options-icons {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(2, auto);
}


.p-datatable {
	background-color: inherit;

	&-thead {
		background-color: inherit;
		position: sticky;
		top: -1px;
		z-index: 1;
	}
	tr:nth-last-child(-n + 1) {
		td.pt-table__cell {
			border-bottom: 0;
		}
	}
	table {
		width: 100%;
	}
}

.p-sortable-column-icon {
	display: inline-block;
	margin: 0 2px;
	background-image: url('/assets/icons/arrow-sort.svg');
	width: 21px;
	height: 20px;

	&.pi-sort-amount-down {
		transform: rotate(180deg);
	}
	&.pi-sort-amount-up-alt {
		transform: rotate(0deg);
	}

	&.pi-sort-alt {
		background-image: url('/assets/icons/arrow-sort-alt.svg');
		width: 20px;
	}
}

.p-datatable-virtual-scrollable-body {
	@include scroll;
}

.cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
	transform: none !important;
}
