@import "./helpers/index";

.d-paginator {
  .p-paginator {
    .p-paginator-element {
      height: 45px;
      min-width: 45px;
      margin: 3px;
      padding: 10px 15px;
      border: 0;
      border-radius: 5px;
      background-color: $c-white;
      opacity: 0.8;
      transition: all 0.3s;
      &:hover:not(.p-disabled) {
        opacity: 1;
        background-color: $c-gray-1;
        color: $c-white;
      }
      &.p-highlight {
        background-color: $c-blue;
      }

      &.p-disabled {
        background-color: $c-gray;
        cursor: not-allowed;
      }
      .p-paginator-icon {
        &.pi-angle-left,
        &.pi-angle-right {
          display: block;
          width: 14px;
          height: 20px;
          background: url(/assets/icons/arrow-next.svg);
        }
        &.pi-angle-left {
          transform: rotate(180deg);
        }

        &.pi-angle-double-left,
        &.pi-angle-double-right {
          display: block;
          width: 21px;
          height: 20px;
          background: url(/assets/icons/arrow-double.svg);
        }
        &.pi-angle-double-left {
          transform: rotate(180deg);
        }
      }
    }
  }
}
