thead th:last-of-type,
tbody td:last-of-type {
    width: 100px;
    outline: none;
}

.action {
    color: #14a7ff;
    cursor: pointer;
    &:hover {
        font-weight: bolder;
    }
}

.icon-action {
    display: flex;
    justify-content: space-around;
    mat-icon {
        &:focus {
            outline: none;
        }
    }
}
.table-responsive-sm {
    margin: auto;
    padding: 10px 10px;
    width: 99%;
}

.icon-action span {
        cursor: pointer;
}