<div class="table-responsive-sm">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let delivery of deliveries$ | async; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ delivery.id }}</td>
        <td>{{ delivery.firstName }}</td>
        <td>{{ delivery.phone }}</td>
        <td>{{ delivery.email }}</td>
        <td>{{ delivery.date.date | date }}</td>
        <td>{{ delivery.date.time | date: "shortTime" }}</td>
        <td>
          <div class="icon-action">
            <span (click)="delete(delivery)" class="material-icons">
              delete_forever
            </span>
            <span class="material-icons">edit </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="pagination">
  <p-paginator
    class="d-paginator"
    [totalRecords]="totalPages"
    [pageLinkSize]="5"
    [rows]="rows"
    [alwaysShow]="false"
    (onPageChange)="onPageChange($event.page)"
  ></p-paginator>
</div>
