@if (pizza$|async; as pizza) {
<h2>Pizza: {{ pizza.name|lang }}</h2>
<div class="product">
  <div class="options">
    @if (pizza.image) {
    <div class="pizza-image">
      <img [src]="pizza.image" />
    </div>
    }
    <div class="params">
      <h3>Category:</h3>
      {{ pizza.category }}
    </div>
    <div class="params">
      <h3>Price - Weight</h3>
      <p>
        {{ pizza.price.small | currency: "UAH":"symbol-narrow" }} -
        {{ pizza.size.small }} g
      </p>
      <p>
        {{ pizza.price.middle | currency: "UAH":"symbol-narrow" }} -
        {{ pizza.size.middle }} g
      </p>
      <p>
        {{ pizza.price.big | currency: "UAH":"symbol-narrow" }} -
        {{ pizza.size.big }} g
      </p>
    </div>
    <div class="params">
      <h3>Ingredients:</h3>

      <ul>
        @for (ingredient of pizza.ingredients; track ingredient) {
        <li>{{ ingredient.name }}</li>
        }
      </ul>
    </div>
  </div>
</div>
}