.slider {
  text-align: center;
  width: 100%;
  height: 90%;
  z-index: 5;
}

.picsum-img-wrapper > img {
  width: 100%;
  border-radius: 20px;
}
.carousel-caption {
  display: block;
  text-align: left;

  h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 120%;
    padding-bottom: 40px;
  }
  h3 {
    font-size: 42px;
    font-weight: 700;
  }
}
.pizza-list {
  margin-top: 20px;
}
.title {
  width: 100%;
  text-align: center;

  h2 {
    font-size: 24px;
    font-weight: 700;
  }
}

.product-block {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.child {
  flex: inherit;
} 
