<div class="multi-language-field__container">

  @if (showLang()) {
  <app-lang-changer [key]="key()" (keyChange)="key.set($event)" [keys]="keys()" />
  }
  @if (showMode()) {
  <app-mode-changer [type]="type()" (typeChange)="type.set($event)" />
  }

  @switch (type()) {
  @case ('input') {
  <input [class]="styleClass()" ngClass="input" [ngModel]="text()" (ngModelChange)="eventChange($event)"
    [disabled]="disabled()" [placeholder]="placeholder()" />
  }

  @case('textarea'){
  <textarea [class]="styleClass()" [ngModel]="text()" (ngModelChange)="eventChange($event)" [attr.disabled]="disabled()"
    [placeholder]="placeholder()"></textarea>
  }
  @default {
  <angular-editor [ngModel]="text()" [placeholder]="placeholder()" (ngModelChange)="eventChange($event)" />
  }
  }
</div>