<div class="input-form">
    <label [for]="formControlName"> {{formControlName|customLabel}}</label>
    <input [id]="formControlName" [type]="type" (input)="onModelChange($event.target.value)" (focus)="onFocus($event)"
        [class.error]="control?.invalid && (control.dirty || control.touched)" [class.focused]="focus"
        (blur)="onBlur($event)" [placeholder]="placeholder" [value]="value">
    <div *ngFor="let validation of errorArray">
        <div class="error"
            *ngIf="control?.hasError(validation.type) && control.invalid && (control.dirty || control.touched)">
            {{validation.message}}
        </div>
    </div>

</div>