@import "../../../styles/helpers/index";

.profile_settings {
  display: grid;
  grid-template-columns: 1fr;
  padding: 5px;
  @include tablet-up {
    grid-template-columns: repeat(3, 1fr);
  }
}

.portfolio {
  padding: 5px;
  padding-bottom: 10px;
  border-radius: 5px;
}
form {
  margin: 2rem;
}

.button {
  margin: 1rem 0;
}
