<div class="news__container">
  <a class="news__card" [routerLink]="['/promotions', promo().id]">
    <img class="card-news__image" [lazyLoad]="promo().image" [defaultImage]="defaultImage" alt="noopener noreferrer" />
    <div class="card-news__content">
      <div class="card-news__date-wrapper">
        @switch (promo().status) {
        @case (status.Active) {
        <span class="card-news__date card-news__date--active">
          @if (promo().endedAt) {
          Активна до {{ promo().endedAt | date: "dd.MM.yyyy" }}
          } @else {
          Активна з {{ promo().startedAt | date: "dd.MM.yyyy" }}
          }
        </span>
        }
        @case (status.New) {
        <span class="card-news__date">
          {{
          promo().startedAt
          ? ("Незабаром: " + promo().startedAt | date: "dd.MM.yyy")
          : "Незабаром"
          }}
        </span>
        }

        @default {
        <span class="card-news__date">Завершено </span>
        }
        }
      </div>
      <div class="card-news__title">{{ promo().name }}</div>
      <div class="card-news__description">
        <span [innerHtml]="promo().description"></span>
      </div>
    </div>
  </a>
</div>