<div class="product">
  <img src="../../../assets/data/basket/texas.jpg" alt="pizza" />
  <div class="product_description">
    <div class="product_title">
      Піца Техас
    </div>
    <p>
      <span>item </span>
      <span>item </span>
      <span>item </span>
      <span>item </span>
      <span>item </span>
      <span>item </span>
      <span>item </span>
      <span>item </span>
      <span>item </span>
      <span>item </span>
      <span>item </span>
      <span>item </span>
    </p>
    <div class="product_size">
      Маленька Стандарт
    </div>
    <div class="product_footer">
      <div class="product_price"> 87.99 грн</div>
      <div class="quantity_control">
        1
      </div>
    </div>
  </div>
</div>
