<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let delivery of deliveries;index as i;">
      <th scope="row">{{i+1}}</th>
      <td>{{delivery.id}}</td>
      <td>{{delivery.firstName}}</td>
      <td>{{delivery.phone}}</td>
      <td>{{delivery.email}}</td>
      <td>{{delivery.date.date|date}}</td>
      <td>{{delivery.date.time}}</td>

      <td>
        <div class="icon-action">
          <mat-icon (click)="delete(delivery)" aria-hidden="false" aria-label="Example home icon">
              delete_forever
          </mat-icon>
          <mat-icon aria-hidden="false" aria-label="Example home icon">edit </mat-icon>
      </div>
      </td>
    </tr>
  </tbody>
</table>

<ngb-pagination [collectionSize]="collectionSize*10" [(page)]="page" [maxSize]="4" [rotate]="true"
    (pageChange)="showPage($event)" aria-label="Custom pagination">
</ngb-pagination>