<div class="form-grid__container" [formGroup]="form">
  <div class="form__control">
    <span>Назва</span>
    <d-multi-language-field formControlName="name" type="textarea" />
    <validation-error [control]="form.controls.name" />
  </div>
  <div class="form__control">
    <label class="form-control__label"> Публікувати</label>
    <p-inputSwitch formControlName="isActive" class="d-inputswitch" />
  </div>
  <div class="form__control">
    <span class="form-control__label">Дата початку акції</span>
    <p-datepicker formControlName="startedAt" class="d-calendar" [showIcon]="true" [firstDayOfWeek]="1"
      dateFormat="dd-mm-yy" />
  </div>
  <div class="form__control">
    <span class="form-control__label">Дата завершення акції</span>
    <p-datepicker formControlName="endedAt" class="d-calendar" [showIcon]="true" [firstDayOfWeek]="1"
      dateFormat="dd-mm-yy" />
  </div>

  <div class="form__control">
    <span>Опис</span>
    <d-multi-language-field formControlName="description" type="textarea" />
    <validation-error [control]="form.controls.description" [field]="'Descripton'" />
  </div>

  <div class="promotion__options">
    <app-file-uploader formControlName="image" [src]="promo()?.image" />
    <app-spin-button [loading]="loading()" [name]="'saveLabel' | translate" (click)="onSave()" />
  </div>
</div>