<div class="content">
  <form [formGroup]="formDelivery" (ngSubmit)="createDelivery()" class="form">
    <h3>{{ "contactsLabel" | translate }}</h3>
    <div class="form__user">
      <div class="form-control">
        <input
          class="input"
          placeholder="Enter First Name"
          formControlName="firstName"
          type="text"
        />
      </div>

      <div class="form-control">
        <input
          class="input"
          placeholder="Enter Phone"
          formControlName="phone"
          type="text"
        />
      </div>

      <div class="form-control">
        <input
          class="input"
          placeholder="Enter Email"
          formControlName="email"
          type="email"
        />
      </div>
    </div>
    <h3>Address</h3>
    <div formGroupName="address" class="form__user">
      <div class="form-control">
        <input
          class="input"
          placeholder="Enter Street"
          formControlName="street"
          type="text"
        />
      </div>

      <div class="form-control">
        <input
          class="input"
          placeholder="Enter House"
          formControlName="house"
          type="text"
        />
      </div>

      <div class="form-control">
        <input
          class="input"
          placeholder="Enter Flat"
          formControlName="flat"
          type="text"
        />
      </div>

      <div class="form-control">
        <input
          class="input"
          placeholder="Enter Entrance"
          formControlName="entrance"
          type="text"
        />
      </div>

      <div class="form-control">
        <input
          class="input"
          placeholder="Enter Code"
          formControlName="code"
          inputmode="numeric"
          type="number"
        />
      </div>

      <div class="form-control">
        <input
          class="input"
          placeholder="Enter Floor"
          formControlName="floor"
          inputmode="numeric"
          type="number"
        />
      </div>
    </div>

    <div class="form-control">
      <textarea
        class="input"
        formControlName="comment"
        placeholder="Enter Comment"
      ></textarea>
    </div>

    <h3>{{ "labels.date" | translate }}</h3>

    <div formGroupName="date" class="form__user">
      <div class="form-control">
        <p-calendar
          formControlName="date"
          class="d-calendar"
          [showIcon]="true"
          [minDate]="minDate"
          [firstDayOfWeek]="1"
          dateFormat="dd-mm-yy"
        ></p-calendar>
      </div>

      <div class="form-control">
        <p-calendar
          formControlName="time"
          class="d-calendar"
          [showIcon]="true"
          [firstDayOfWeek]="1"
          [minDate]="minDate"
          [timeOnly]="true"
          dateFormat="dd-mm-yy"
        ></p-calendar>
      </div>
    </div>

    <h3>{{ "paymentLabel" | translate }}</h3>

    <div formGroupName="payment" class="form__user">
      <div class="form-control">
        <input
          type="text"
          class="input"
          placeholder="Enter Coupon"
          formControlName="coupon"
        />
      </div>

      <div class="form-control">
        <input
          type="text"
          class="input"
          placeholder="Enter Remainder"
          formControlName="remainder"
        />
      </div>

      <div class="form-control">
        <p-dropdown
          class="d-dropdown"
          formControlName="type"
          placeholder="Select Payment Type"
          [options]="paymentTypes|translateOptions"
        >
        </p-dropdown>
      </div>
    </div>

    <div class="result">
      <h2>Total</h2>
      <h2>
        {{ (totalAmount$ | async).toLocaleString() }} {{ "uah" | translate }}
      </h2>
      <button class="button button--blue" type="submit" [disabled]="true">
        {{ "orderLabel" | translate }}
      </button>
    </div>
  </form>
</div>
