.material-icons {
    position: absolute;
    right: 0;
    padding: 10px;
    top: 6%;
    cursor: pointer;
    &:hover {
        color: #33b2da;
    }
}

.input-group > .form-control:not(:last-child) {
    border-radius: 6px;
    padding-right: 32px;
    text-overflow: ellipsis;
}
