<div class="profile_settings">
  <div class="portfolio">
    <img src="../../assets/data/pizzas/man_2-512.png" alt="user icon" />
    <p>Change avatar</p>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <div class="change-password">

        <app-input type="password" formControlName="currentPassword" placeholder="Enter Current Password">
        </app-input>

        <app-input type="password" formControlName="newPassword" placeholder="Enter New Password"></app-input>
        <app-input type="password" formControlName="confirmPassword" placeholder="Enter Confirm Password"></app-input>

        <div class="ant-btn">
          <app-spin-button name="Submit" [loading]="spinChangePassword"></app-spin-button>
        </div>
      </div>
    </form>
  </div>

  <form [formGroup]="updateProfileForm" (ngSubmit)="onSubmit()">
    <div class="update-profile">
      <app-input type="text" formControlName="fullName" placeholder="Change Full Name"></app-input>
      <app-input type="text" formControlName="username" placeholder="Enter Username"></app-input>
      <app-input type="text" formControlName="email" placeholder="Change Email"></app-input>


      <div class="optional-info">
        <mat-form-field appearance="outline">
          <mat-label>Choose you birthday date</mat-label>
          <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" formControlName="birthday"
            (dateInput)="dateInput($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Enter Phone Number</mat-label>
          <input matInput formControlName="phone" type="number" class="example-right-align" />
          <span matPrefix>+380&#160;</span>

        </mat-form-field>
      </div>


      <div class="ant-btn">
        <app-spin-button name="Save" [loading]="spinEditProfile"></app-spin-button>
      </div>
    </div>
  </form>
</div>