<div ngbDropdown class="form-group" [autoClose]="'outside'">
    <ul class="form-control" ngbDropdownToggle>
        <div class="dropdown-multi-select">
            <div class="list-selected" *ngIf="value.length>0">
                <span class="selected" *ngFor="let item of value">
                    {{ item.name }}
                </span>
            </div>
        
            <span *ngIf="value.length===0">
                {{ placeholder }}
                <span class="material-icons"> keyboard_arrow_down </span>
            </span>
        </div>
    </ul>

    <div ngbDropdownMenu class="dropdown-menu">
        <label class="dropdown-item" *ngFor='let item of items'>
            <input type="checkbox" (click)="selectItem(item)"> {{item.name}}
        </label>
    </div>
</div>