<div class="filter">
  <!-- <ngx-select-dropdown
    (change)="sortBy($event)"
    [config]="config"
    [options]="sortCurrent"
  >
  </ngx-select-dropdown> -->
</div>
<div class="pizza-list">
  <div class="product-block" *ngIf="sortedList; else sortCategories">
    <div *ngFor="let pizza of all" class="child">
      <app-pizza-item [item]="pizza"></app-pizza-item>
    </div>
  </div>
</div>
<ng-template #sortCategories>
  <div class="pizza-list categories" *ngFor="let pizza of categories">
    <div class="title">
      <h2>Піца: {{ pizza.category }}</h2>
    </div>
    <div class="product-block">
      <div *ngFor="let item of pizza.items" class="child">
        <app-pizza-item [item]="item"></app-pizza-item>
      </div>
    </div>
  </div>
</ng-template>
