
:host {
  float: flex;
  margin: 10px;
  padding-top: 10px;
}
.pizza-list {
  width: 100%;
  max-height: 1000px;
  text-align: center;
  justify-content: center;
  margin: auto;
}
h2 {
  font-size: 24px;
  font-weight: 700;
}

.product-block {
  width: 100%;
}



.parent {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.child {
  flex: 1 1 200px;
}

