.pizza-list {
  margin-top: 20px;
}
.title {
  width: 100%;
  text-align: center;

  h2 {
    font-size: 24px;
    font-weight: 700;
  }
}

.product-block {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.child {
  flex: inherit;
}
.filter {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  select {
    width: 300px;
    height: 30px;
    border: 1px solid gray;
    background: whitesmoke;
    border-radius: 20px;
    outline: none;
    margin: 10px;
  }

  option {
    border: 1px solid gray;
    border-radius: 20px;
    background: whitesmoke;
  }
}
