.modal-header {
  background-color: black;
  color: snow;
  button {
    outline: none;
    &:hover {
      opacity: 1;
    }
  }
}

button {
  color: snow;
}
.btn-outline-grey {
  background-color: gray;
  &:hover {
    color: snow;
    background-color: black;
  }
}

.btn-outline-confirm {
  background-color: rgb(12, 153, 235);
  &:hover {
    color: snow;
    background-color: black;
  }
}

.close {
  color: snow;
}
select {
  width: 40%;
  padding-left: 2px;
  border: 1px solid gray;
  border-radius: 4px;
  height: 34px;
  margin: 4px;
  outline: none;

  &.ng-pristine.ng-invalid.ng-touched {
    border: 1px solid #aa4436;
  }
  &.ng-touched.ng-dirty.ng-invalid {
    border: 1px solid #aa4436;
  }
}
.modal-footer {
  background-color: rgb(247, 236, 236);
}

.row-form {
  display: flex;
  flex: wrap;
  justify-content: space-between;
}

input {
  width: 100%;
  height: 34px;
  padding-left: 10px;
  border-radius: 10px;
  margin: 4px;
  outline: none;
  margin-bottom: 5px;
  border: 1px solid grey;

  &.ng-pristine.ng-invalid.ng-touched {
    border: 1px solid #aa4436;
  }
  &.ng-touched.ng-dirty.ng-invalid {
    border: 1px solid #aa4436;
  }
}

ngx-select-dropdown {
  width: 48%;
  margin: 4px;
}

