<form [formGroup]="formCreatingPizza" (ngSubmit)="onSubmit()">
  <div class="modal-header">
    <h4 class="modal-title">Створення піци</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row-form">
      <input type="text" formControlName="name" placeholder="name" />
    </div>
    <div class="row-form">
      <ngx-select-dropdown
        class="dropdown"
        formControlName="category"
        [multiple]="false"
        [config]="selectConfig"
        [options]="categories"
      ></ngx-select-dropdown>

      <ngx-select-dropdown
        class="dropdown"
        formControlName="ingredients"
        [multiple]="true"
        [config]="config"
        [options]="ingredients"
      >
      </ngx-select-dropdown>
    </div>

    <div formGroupName="weight">
      <div class="row-form">
        <h5>Pizza weight:</h5>
      </div>
      <div class="row-form">
        <input type="text" formControlName="small" placeholder="small" />
        <input type="text" formControlName="middle" placeholder="middle" />
        <input type="text" formControlName="big" placeholder="big" />
      </div>
    </div>

    <div formGroupName="price">
      <div class="row-form">
        <h5>Pizza price:</h5>
      </div>
      <div class="row-form">
        <input type="text" formControlName="low" placeholder="low" />
        <input type="text" formControlName="medium" placeholder="medium" />
        <input type="text" formControlName="high" placeholder="high" />
      </div>
    </div>
    <div class="row-form">
      <h5>Upload photo:</h5>
      <input
        formGroupName="image"
        type="file"
        placeholder="image"
        (change)="onFileSelected($event)"
      />
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-grey" (click)="close()">
      Close
    </button>
    <button type="submit" class="btn btn-outline-confirm">
      Confirm
    </button>
  </div>
</form>
