$c-white: #ffffff;
$c-blue: #0c72ef;
$c-blue-hover: #073cff;
$c-black: black;
$c-gray: #4f4f4f;
$c-gray-1: #ced4da;
$c-gray-2: #f3f4f5;
$c-light-gray: #f8f8f8;
$c-yellow: #f9dc0f;
$c-orange: #ffc01e;
$c-red: #e31837;
$c-green: #79ce81;

$transition: all 0.3s;

$c-font: rgb(4, 1, 15);

// color

$c-black: black;
$c-white: #fff;
$c-blue-1: #bde4f9;
$c-green-1: #cee5cb;
$c-orange: orange;
$c-orange-1: #f9d9b7;
$c-yellow: yellow;
$c-gray: #686b87;
$c-gray-1: #e0e1e7;
$c-gray-2: #e7e7e7;
$c-purple-1: #e7d0fc;

$bg-disabled: #d2dce8;
$bg-gray-transparent: #bdbdbdb8;

$bg-global: #eff7fb;

// modal

$dialog-footer-height: 70px;
$header-height: 80px;

//  breakpoints

$mobile: 320px;
$tablet: 768px;
$desktop: 1140px;

$surface-b: rgba($c-black, 0.07);

$transition: all 0.3s;

// text color

$c-font: #45486a;

// status colors

$s-green: #cee5cb;
$s-purple: #e7d0fc;
$s-blue: #bde4f9;
$s-orange: #f9d9b7;
