@import "../../../../styles/helpers/index";

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pizza-list {
  margin-top: 20px;
  max-width: 1300px;
}

.product-block {
  display: flex;
  flex-wrap: wrap;
}

.child {
  flex: inherit;
}

.picsum-img-wrapper {
  width: 100%;
  height: auto;
}
