<div *ngFor="let promotion of promotions" class="promotion">
    <div class="page">
        <img class="promotion-image" [src]="promotion.image||defaultImage" alt="noopener noreferrer">
        <div class="promotion-description">
            <h6>{{promotion.startedAt|date}}</h6>
            <h4>{{promotion.title}}</h4>
            <p>{{promotion.description}}</p>
            <a [routerLink]="['/promotion/', promotion.id]" class="product_name">
                <button class="btn-promo">Детальніше </button>
            </a>
        </div>
    </div>
    <hr>
</div>