<section class="table-container">

  <div class="table-caption">
    <app-global-table-search [table]="dt" [searchId]="'ingredients-search'" />


    <button class="btn btn-outline" routerLink="create">
      <em class="icon icon-plus"></em>
      <span class="button-text">Add</span>
    </button>
  </div>

  <app-table #dt [value]="ingredients.value()" [columns]="cols()" scrollHeight="65vh" [cellTemplate]="cellTemplate">

    <ng-template #cellTemplate let-ingredient let-col="column">
      @switch (col.field) {

      @case('name'){
      <span> {{ ingredient[col.field] | lang }} </span>
      }

      @case('createdAt'){
      <span> {{ ingredient[col.field] | date: "medium" }} </span>
      }

      @case('updatedAt'){
      <span> {{ ingredient[col.field] | date: "medium" }} </span>
      }

      @case('actions'){
      <ng-container>
        <div class="table-actions">
          <app-actions [data]="ingredient" [actions]="actions" />
        </div>
      </ng-container>
      }

      @default {
      <ng-container>
        <span>{{ ingredient[col.field]||'-' }}</span>
      </ng-container>
      }
      }
    </ng-template>

  </app-table>
</section>