<div class="table-responsive-sm">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col" routerLink="/ingredient/create">
          <span class="action">Add New</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ingredient of ingredients$ | async; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ ingredient.id }}</td>
        <td>{{ ingredient.name }}</td>
        <td>
          <div class="icon-action">
            <span (click)="onDelete(ingredient)" class="material-icons">
              delete_forever
            </span>
            <span class="material-icons">edit </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<p-paginator
  class="d-paginator"
  [totalRecords]="totalRecords"
  [pageLinkSize]="3"
  [alwaysShow]="false"
  [rows]="rows"
  (onPageChange)="onPageChange($event.page)"
></p-paginator>
