<div class="profile_settings">
  <div class="portfolio">
    <img src="../../assets/data/pizzas/man_2-512.png" alt="user icon" />
    <p>Change avatar</p>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <div class="change-password">
        <mat-form-field appearance="outline" class="field">
          <mat-label>Enter Current Password</mat-label>
          <input matInput formControlName="currentPassword" type="password" />
          <mat-error *ngFor="let validation of validations?.currentPassword">
            <mat-error *ngIf="currentPassword.hasError(validation.type) && currentPassword.invalid">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Enter New Password</mat-label>
          <input matInput formControlName="newPassword" />
          <mat-error *ngFor="let validation of validations?.newPassword">
            <mat-error *ngIf="newPassword.hasError(validation.type) && newPassword.invalid">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="field">
          <mat-label>Enter Confirm Password</mat-label>
          <input matInput formControlName="confirmPassword" />
          <mat-error *ngFor="let validation of validations?.confirmPassword">
            <mat-error *ngIf="confirmPassword.hasError(validation.type) && confirmPassword.invalid">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </mat-form-field>

        <div class="ant-btn">
          <app-spin-button name="Submit" [loading]="spinChangePassword"></app-spin-button>
        </div>
      </div>
    </form>
  </div>


  <form [formGroup]="updateProfileForm" (ngSubmit)="onSubmit()">
    <div class="update-profile">
      <mat-form-field appearance="outline" class="field">
        <mat-label>Change Full Name</mat-label>
        <input matInput formControlName="fullName" type="text" />
        <mat-error *ngFor="let validation of validations?.fullName">
          <mat-error *ngIf="fullName.hasError(validation.type) && fullName.invalid">
            {{validation.message}}
          </mat-error>
        </mat-error>

      </mat-form-field>

      <mat-form-field appearance="outline" class="field">
        <mat-label>Enter Username</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngFor="let validation of validations?.username">
          <mat-error *ngIf="username.hasError(validation.type) && username.invalid">
            {{validation.message}}
          </mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="field">
        <mat-label>Enter Your`s Birthday</mat-label>
        <input matInput formControlName="birthdaty" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="field">
        <mat-label>Enter Your`s Phone Number</mat-label>
        <input matInput formControlName="phone" type="number" />
      </mat-form-field>
      <div class="ant-btn">
        <app-spin-button name="Save" [loading]="loading"></app-spin-button>
      </div>
    </div>
  </form>
</div>