<div class="profile_settings">
  <div class="portfolio">
    <img src="../../assets/data/pizzas/man_2-512.png" alt="user icon" />
    <p>Change avatar</p>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <div class="change-password">
        <mat-form-field appearance="outline" class="field">
          <mat-label>Enter Current Password</mat-label>
          <input matInput formControlName="currentPassword" type="password" />
          <mat-error *ngIf="changePasswordForm.get('currentPassword').errors?.serverError">
            Current Password cannot be blank.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Enter New Password</mat-label>
          <input matInput formControlName="newPassword" />
          <!-- <mat-error *ngIf="hasError1('newPassword', 'required')">
            New Password cannot be blank.
          </mat-error> -->
        </mat-form-field>
        <mat-form-field appearance="outline" class="field">
          <mat-label>Enter Confirm Password</mat-label>
          <input matInput formControlName="confirmPassword" />
          <!-- <mat-error *ngIf="hasError1('confirmPassword', 'required')">
            Confirm Password cannot be blank.
          </mat-error> -->
        </mat-form-field>

        <div class="modal-footer">
          <div class="example-button-row">
            <button mat-raised-button color="primary">Confirm</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <form [formGroup]="updateProfileForm" (ngSubmit)="onSubmit()">
    <div class="update-profile">
      <mat-form-field appearance="outline" class="field">
        <mat-label>Change Full Name</mat-label>
        <input matInput formControlName="fullName" type="text" />
        <mat-error *ngIf="hasError('fullName', 'required')">
          Full Name cannot be blank.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="field">
        <mat-label>Enter Username</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="hasError('username', 'required')">
          Username cannot be blank.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="field">
        <mat-label>Enter Your`s Birthday</mat-label>
        <input matInput formControlName="birthdaty" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="field">
        <mat-label>Enter Your`s Phone Number</mat-label>
        <input matInput formControlName="phone" type="number" />
      </mat-form-field>

      <div class="example-button-row">
        <button mat-raised-button color="primary">Save</button>
      </div>
    </div>
  </form>
</div>
