.profile_settings {
  display: flex;
  padding: 10px;
}

.portfolio {
  width: 50%;
  height: 100%;
  padding: 15px;
  border-radius: 5px;
  text-align: center;

  img {
    width: 60%;
    height: 70%;
  }
  span {
    margin: 10px 5px;
    width: 100%;
    height: 30%;
  }
}
.update-profile {
  display: block;
  mat-form-field {
    width: 100%;
  }
}

.change-password {
  margin: auto;
  width: 100%;
  max-width: 450px;
  .field {
    width: 100%;
  }
}
.ant-btn {
  width: 50%;
  margin: auto;
}
