<div [formGroup]="form">
  <div class="grid-row__container">
    <div class="grid-column__container">
      <app-file-uploader
        formControlName="image"
        [imageStyle]="{ height: '320px' }"
      ></app-file-uploader>

      <app-spin-button
        [name]="'confirmLabel' | translate"
        [loading]="loading"
        (click)="onSubmit()"
      >
      </app-spin-button>
    </div>
    <div class="grid-column__container">
      <div class="form__control">
        <span>{{ "labels.name" | translate }}</span>
        <d-multi-language-field formControlName="name">
        </d-multi-language-field>
      </div>

      <div class="form__control">
        <span>{{ "labels.category" | translate }}</span>

        <p-dropdown
          class="d-dropdown"
          placeholder="Select Categories"
          formControlName="category"
          [options]="categories$ | async"
        ></p-dropdown>
      </div>

      <div class="form__control">
        <span>{{ "labels.ingredients" | translate }}</span>

        <p-multiSelect
          [showToggleAll]="false"
          class="d-multi-select"
          [filter]="false"
          display="chip"
          placeholder="Select Ingredients"
          formControlName="ingredients"
          [options]="(ingredients$ | async) || []"
        ></p-multiSelect>
      </div>

      <div class="form__control">
        <span>{{ "labels.weight" | translate }}</span>
        <d-multi-language-field formControlName="weight">
        </d-multi-language-field>
      </div>

      <div class="form__control">
        <span>{{ "labels.price" | translate }}</span>

        <d-multi-language-field formControlName="price">
        </d-multi-language-field>
      </div>
    </div>
  </div>
</div>
