<div class="content">
    <div class="nav-panel">
        <div class="nav-item" routerLink="pizzas"> {{'pageTitles.pizzas'|translate}} </div>
        <div class="nav-item" routerLink="users"> Users </div>
        <div class="nav-item" routerLink="deliveries"> Deliveries </div>
        <div class="nav-item" routerLink="promotions"> Promotions </div>
        <div class="nav-item" routerLink="shops"> Shops </div>
        <div class="nav-item" routerLink="ingredients"> Ingredients </div>
    </div>
    <router-outlet></router-outlet>
</div>