.dp-header-desktop {
  display: block;
  position: absolute;
  left: 0;
  width: 90%;
  z-index: 20;
  font-family: Open Sans, sans-serif;
  -ms-flex-pack: center;
  justify-content: center;
  background: #222;

  .fake-header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    -ms-flex-align: center;
    background: #4f4f4f;
    padding: 0 60px;
    margin: 0 auto;

    span {
      padding-right: 1vw;
    }
  }
  .main-header {
    height: 70px;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
    background: #222;
  }
}
.fake-header__content {
  width: 100%;
  display: grid;
}

.fake-header__left-block,
.fake-header__phone-block {
  display: flex;
  align-items: center;
}

.fake-header__phone-number {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
.main-header__content {
  display: grid;
  grid-template-areas: "logo navigation navigation cart";
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0 20px;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.main-header__navigation {
  grid-area: navigation;
  height: 50px;
  width: 100%;
}
.navigation {
  display: flex;
  -ms-flex-align: center;
}

.nav-link {
  width: calc(100% + 25px);
}
.nav-link a,
.nav-link a:hover {
  letter-spacing: 0.1em;
  color: #f8f8f8;
}

.nav-link a {
//   display: -ms-flexbox;
//   display: flex;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  -webkit-transition: color 0.1s ease;
  -o-transition: color 0.1s ease;
  transition: color 0.1s ease;
}
.main-header__cart {
  grid-area: cart;
  height: 50px;
  max-width: 310px;
  margin-left: 10px;
}

.cart-item {
  height: 50px;
  border-radius: 25px;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color ease 0.3s;
  transition: background-color 0.3s ease;
}

.cart-wrapper {
  left: 0;
  top: 0;
  width: 100%;
}

.button-cart {
  background-color: #f8f8f8;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  max-width: 310px;
  border-radius: 25px;
  padding: 2px;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.button-cart__icon-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 46px;
  height: 46px;
  border: 1px solid #e5e5e5;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4f4f4f;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color ease 0.3s;
  transition: background-color 0.3s ease;
}

.button-cart__order-button:disabled {
  background: #e31837;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: not-allowed;
}
button:disabled,
button[disabled] {
  cursor: not-allowed;
}
.button-cart__order-button {
  height: 46px;
  width: 145px;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #f8f8f8;
  border: none;
  border-radius: 25px;
  background: #e31837;
}

button {
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button-cart--info-quantity {
  font-weight: 700;
  font-size: 14px;
  color: #f8f8f8;
  font-family: Open Sans, sans-serif;
}

.button-cart__icon-wrap svg {
  width: 16px;
  height: 16px;
  fill: #f8f8f8;
}
