agm-map {
  height: 500px;
  width: 800px;
}

* {
  font-family: Lato;
}

a {
  color: darkblue;
}
.directions {
  display: flex;
  flex-direction: column;
}

.directions_options {
  display: flex;
  justify-content: space-around;
  padding: 10px;

  input {
    border-radius: 5px;
    border: 1px solid black;
    padding: 0 5px;
  }
}
.directions_info {
  display: flex;
  justify-content: space-around;
  h3 {
    width: 50%;
    text-align: center;
  }
}
.road {
  display: flex;
  justify-content: space-around;
  padding: 1px;

  input:checked + h4 {
    background-color: #6bfb20;
    cursor: pointer;
  }
  input:disabled + h4 {
    opacity: 0.3;
    cursor: not-allowed;
  }
}


.title {
  width: 100%;
  display: flex;
  justify-content: center;
}
input[type="radio"] {
  display: none;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  app-spin-button{
    width: 30%;
  }
}
