agm-map {
  height: 500px;
  min-width: 350px;
  width: 100%;
}

* {
  font-family: Lato;
}

a {
  color: darkblue;
}
.directions {
  display: flex;
  flex-direction: column;
}

.directions_options {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  padding: 10px;

  input {
    border-radius: 5px;
    border: 1px solid black;
    padding: 0 5px;
  }
}
.directions_info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  h3 {
    width: 50%;
    text-align: center;
  }
}
.road {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1px;

  .btn{
    height: 25px;
  }
}

label{
  outline: none;
}

.active {
  color: red;
}