<div class="title">
    <h1>Choose any Domino`s shop</h1>
    <app-spin-button name="Save My Location" (click)="saveLocation()" color="Basic"></app-spin-button>

</div>
<div class="directions">
    <div class="travelMode">
        <label>
            <input type="radio" (click)="setDrive()" name="travelMode" checked [disabled]="!data">
            <div>DRIVING</div>
        </label>
        <label>
            <input type="radio" (click)="setWalking()" name="travelMode" [disabled]="!data">
            <div>WALKING</div>
        </label>
    </div>
    <div class="directions_options">
        <label>From</label>
        <input [value]="currentAddress" />
        <label>To</label>
        <input value="{{data?.address}}" />
    </div>
    <div class="directions_info">
        <h3 *ngIf="distance">Distance: {{(distance/1000).toFixed(1)}} km</h3>
        <h3 *ngIf="duration">Time: {{(duration/60).toFixed(1)}} min</h3>
    </div>
</div>



<agm-map [latitude]="currentPosition.lat" [longitude]="currentPosition.lng" [zoom]="13" [disableDefaultUI]="false"
    [zoomControl]="false" (mapReady)="mapReady($event)">

    <agm-marker-cluster
        imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
        <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m)" [latitude]="m.lat"
            [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable"
            [iconUrl]="{ url: defaultImage, scaledSize: { width: 40, height: 40, anchor : {x:19, y:19} }, labelOrigin:{x:20,y:40}}"
            [label]="{color: 'red', fontWeight: 'bold', fontSize: '12px', backgroundColor:'red',  text: marker.label}">
        </agm-marker>
    </agm-marker-cluster>

    <agm-direction [origin]="origin" [destination]="destination" *ngIf="destination" [travelMode]="travelMode"
        [markerOptions]="markerOptions" [renderOptions]="renderOptions" (originDrag)="change($event)">
    </agm-direction>

    <agm-marker [latitude]="currentPosition.lat" [longitude]="currentPosition.lng" [label]="'You'"
        [markerDraggable]="true" (dragEnd)="dragEnd($event)" [iconUrl]="{ url: 'http://maps.google.com/mapfiles/kml/shapes/man.png', 
        scaledSize: { width: 50, height: 50, anchor : {x:19, y:19} }, labelOrigin:{x:25,y:60}}">
    </agm-marker>
</agm-map>

<div class="footer">
    <app-spin-button name="Close" (click)="onNoClick()" color="Basic"></app-spin-button>
    <app-spin-button [mat-dialog-close]="data" name="Add" cdkFocusInitial></app-spin-button>
</div>