@import "../../../../styles/helpers/index";

.login {
  &__wrapper {
    padding: 1rem;
    width: 35vw;

    @include mobile {
      width: auto;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    .form-control {
      margin-bottom: 0.5rem;
    }
  }
  &__message {
    margin-top: 0.5rem;
    @include genText(0.8rem, 1);
  }
}
