<div class="product-block">
  <div class="item">
    <form [formGroup]="pizzaForm">
      <div class="product-row">
        <div class="product_image">
          <div class="photo">
            <img
              src="https://my-dominos.herokuapp.com/{{ item.image }}"
              *ngIf="item.image"
              alt="Замовити піцу"
            />
            <img
              src="../../assets/data/pizzas/default.jpg"
              *ngIf="!item.image"
              alt="Замовити піцу"
            />
          </div>
          <div class="product_weight">
            <span *ngIf="pizzaForm.controls.size.value === 'Маленька'">
              {{ item.weight.small }} г
            </span>
            <span *ngIf="pizzaForm.controls.size.value === 'Середня'">
              {{ item.weight.middle }} г
            </span>
            <span *ngIf="pizzaForm.controls.size.value === 'Велика'">
              {{ item.weight.big }} г
            </span>
          </div>
        </div>
      </div>
      <div class="product-row">
        <a href="/" class="product_name">Піца {{ item.name }}</a>
      </div>
      <div class="product-row">
        <div class="product_ingredients">
          <span *ngFor="let ingredient of item.ingredients">
            {{ ingredient.name }}
          </span>
        </div>
      </div>
      <div class="product-row">
        <a href="#" class="change_ingredients">Замінити інгредієнти</a>
      </div>
      <div class="product-row">
        <div class="size">
          <label class="radio">
            <input
              type="radio"
              name="size"
              formControlName="size"
              value="Маленька"
            />
            <span>Маленька</span>
          </label>
          <label class="radio">
            <input
              type="radio"
              name="size"
              formControlName="size"
              value="Середня"
            />
            <span> Середня </span>
          </label>
          <label class="radio">
            <input
              type="radio"
              name="size"
              formControlName="size"
              value="Велика"
            />
            <span>Велика</span>
          </label>
        </div>
      </div>

      <div class="product-row">
        <div class="form">
          <label>
            <input type="radio" formControlName="form" value="Стандарт" />
            <span>Стандарт</span>
          </label>
          <label>
            <input type="radio" formControlName="form" value="Тонке" />
            <span>Тонке</span>
          </label>
          <label>
            <input type="radio" formControlName="form" value="Філадельфія" />
            <span>Філадельфія</span>
          </label>
          <label>
            <input type="radio" formControlName="form" value="Борт Хот-Дог" />
            <span>Борт Хот-Дог</span>
          </label>
        </div>
      </div>
      <div class="product-row">
        <div class="price">
          <span> {{ price }}</span>
          <span class="currency"> грн</span>
        </div>
        <div class="checked_product" *ngIf="count !== 0">
          <button (click)="removeFromCard(item)">-</button>
          <p>{{ count }}</p>
          <button (click)="addToCard(item)">+</button>
        </div>
        <button *ngIf="count == 0" (click)="addToCard(item)">В кошик</button>
      </div>
    </form>
  </div>
</div>
