<div class="product-block">
  <div class="item">
    <form [formGroup]="pizzaForm" (submit)="submit(item)">
      <div class="product-row">
        <div class="product_image">
          <div class="photo">
            <img
              src="../../assets/data/pizzas/{{ item.photo ||1}}.jpg"
              alt="Замовити піцу"
            />
          </div>
          <div class="product_weight">
            <span *ngIf="pizzaForm.controls.size.value === 'Маленька'">
              {{ item.weight.small }} г
            </span>
            <span *ngIf="pizzaForm.controls.size.value === 'Середня'">
              {{ item.weight.middle }} г
            </span>
            <span *ngIf="pizzaForm.controls.size.value === 'Велика'">
              {{ item.weight.big }} г
            </span>
          </div>
        </div>
      </div>
      <div class="product-row">
        <a href="/" class="product_name">Піца {{ item.name }}</a>
      </div>
      <div class="product-row">
        <span class="product_ingredients">
          {{ item.ingredients }}
        </span>
      </div>
      <div class="product-row">
        <a href="#" class="change_ingredients">Замінити інгредієнти</a>
      </div>
      <div class="product-row">
        <div class="size">
          <label class="radio">
            <input
              type="radio"
              name="size"
              formControlName="size"
              value="Маленька"
            />
            <span>Маленька</span>
          </label>
          <label class="radio">
            <input
              type="radio"
              name="size"
              formControlName="size"
              value="Середня"
            />
            <span> Середня </span>
          </label>
          <label class="radio">
            <input
              type="radio"
              name="size"
              formControlName="size"
              value="Велика"
            />
            <span>Велика</span>
          </label>
        </div>
      </div>

      <div class="product-row">
        <div class="form">
          <label>
            <input type="radio" formControlName="form" value="Стандарт" />
            <span>Стандарт</span>
          </label>
          <label>
            <input type="radio" formControlName="form" value="Тонке" />
            <span>Тонке</span>
          </label>
          <label>
            <input type="radio" formControlName="form" value="Філадельфія" />
            <span>Філадельфія</span>
          </label>
          <label>
            <input type="radio" formControlName="form" value="Борт Хот-Дог" />
            <span>Борт Хот-Дог</span>
          </label>
        </div>
      </div>
      <div class="product-row">
        <div class="price">
          <span *ngIf="pizzaForm.controls.size.value === 'Маленька'">
            {{ item.price.low }}
          </span>
          <span *ngIf="pizzaForm.controls.size.value === 'Середня'">
            {{ item.price.medium }}
          </span>
          <span *ngIf="pizzaForm.controls.size.value === 'Велика'">
            {{ item.price.high }}
          </span>
          <span class="currency">грн</span>
        </div>
        <button type="submit">В кошик</button>
      </div>
    </form>
  </div>
</div>
