<section>
  <p-tabView>
    <!-- <p-tabPanel [header]="'pageTitles.pizzas' | translate">
      <ng-template pTemplate="content">
        <app-pizza-list></app-pizza-list>
      </ng-template>
    </p-tabPanel> -->
    <p-tabPanel [header]="'pageTitles.promotions' | translate">
      <ng-template #content>
        <app-promotion-list />
      </ng-template>
    </p-tabPanel>
    <!-- <p-tabPanel [header]="'pageTitles.users' | translate">
      <ng-template pTemplate="content">
        <app-users-list></app-users-list>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel [header]="'pageTitles.deliveries' | translate" [disabled]="true">
      <ng-template pTemplate="content">
        <app-delivery-list></app-delivery-list>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel [header]="'pageTitles.shops' | translate">
      <ng-template pTemplate="content">
        <app-shop-list></app-shop-list>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel [header]="'pageTitles.ingredients' | translate">
      <ng-template pTemplate="content">
        <app-ingredient-list></app-ingredient-list>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel [header]="'pageTitles.drinks' | translate">
      <ng-template pTemplate="content">
        <app-drinks-list></app-drinks-list>
      </ng-template>
    </p-tabPanel> -->
  </p-tabView>
</section>