<section>
  <div>Списки</div>

  <p-tabView>
    <p-tabPanel header="Pizzas">
      <app-pizza-list></app-pizza-list>
    </p-tabPanel>
    <p-tabPanel header="Promotions">
      <app-promotion-list></app-promotion-list>
    </p-tabPanel>
    <p-tabPanel header="Users">
      <app-users-list></app-users-list>
    </p-tabPanel>
    <p-tabPanel header="Deliveries">
      <app-delivery-list></app-delivery-list>
    </p-tabPanel>
    <p-tabPanel header="Shops">
      <app-shop-list></app-shop-list>
    </p-tabPanel>
    <p-tabPanel header="Ingredients">
      <app-ingredient-list></app-ingredient-list>
    </p-tabPanel>
  </p-tabView>
</section>
