<div class="content">

  <form [formGroup]="formDelivery" (ngSubmit)="createDelivery()">
    <h3>Contacts</h3>
    <div class="row-item">

      <app-form-item [control]="formDelivery.controls.firstName" field="First Name">
        <input class="form-control" placeholder="Enter First Name" formControlName="firstName" type="text">
      </app-form-item>

      <app-form-item [control]="formDelivery.controls.phone" field="Phone">
        <input class="form-control" placeholder="Enter Phone" formControlName="phone" type="text">
      </app-form-item>

      <app-form-item [control]="formDelivery.controls.email" field="Email">
        <input class="form-control" placeholder="Enter Email" formControlName="email" type="email">
      </app-form-item>

    </div>
    <h3>Address</h3>
    <div formGroupName="address">
      <div class="row-item">


        <app-form-item [control]="formDelivery.get('address')['controls'].street" field="Street">
          <input class="form-control" placeholder="Enter Street" formControlName="street" type="text">
        </app-form-item>

        <app-form-item [control]="formDelivery.get('address')['controls'].house" field="House">
          <input class="form-control" placeholder="Enter House" formControlName="house" type="text">
        </app-form-item>

        <app-form-item [control]="formDelivery.get('address')['controls'].flat" field="Flat">
          <input class="form-control" placeholder="Enter Flat" formControlName="flat" type="text">
        </app-form-item>

        <app-form-item [control]="formDelivery.get('address')['controls'].entrance" field="Entrance">
          <input class="form-control" placeholder="Enter Entrance" formControlName="entrance" type="text">
        </app-form-item>

        <app-form-item [control]="formDelivery.get('address')['controls'].code" field="Code">
          <input class="form-control" placeholder="Enter Code" formControlName="code" type="number">
        </app-form-item>

        <app-form-item [control]="formDelivery.get('address')['controls'].floor" field="Floor">
          <input class="form-control" placeholder="Enter Floor" formControlName="floor" type="number">
        </app-form-item>

      </div>
    </div>

    <div class="row-item">
      <app-form-item [control]="formDelivery.controls.comment" field="Comment">
        <textarea class="form-control" formControlName="comment" placeholder="Enter Comment"></textarea>
      </app-form-item>
    </div>

    <h3>Date and Time</h3>

    <div formGroupName="date">

      <div class="row-item">

        <app-form-item [control]="formDelivery.get('date')['controls'].date" field="Date">
          <app-datepicker [min]="minDate" [date]="formDelivery.get('date')['controls'].date.value||minDate"
            (select)="showDate($event)"></app-datepicker>
        </app-form-item>

        <app-form-item [control]="formDelivery.get('date')['controls'].time" field="Tine">
          <input type="time" class="form-control" placeholder="Enter Time" formControlName="time" step="600">
        </app-form-item>
      </div>
    </div>


    <h3>Payment</h3>

    <div formGroupName="payment">

      <div class="row-item">

        <app-form-item [control]="formDelivery.get('payment')['controls'].coupon" field="Coupon">
          <input type="text" class="form-control" placeholder="Enter Coupon" formControlName="coupon">
        </app-form-item>

        <app-form-item [control]="formDelivery.get('payment')['controls'].remainder" field="Remainder">
          <input type="text" class="form-control" placeholder="Enter Remainder" formControlName="remainder">
        </app-form-item>
      </div>

      <div class="row-item">

        <app-form-item [control]="formDelivery.get('payment')['controls'].type" field="Payment Type">
          <app-select formControlName="type" placeholder="Select Payment Type" [items]="paymentTypes">
          </app-select>
        </app-form-item>
      </div>

    </div>

    <div class="result">
      <h2>Total</h2>
      <h2>{{totalAmount}} UAH</h2>
      <app-spin-button type="submit" [loading]="spinShipping" name="Order"></app-spin-button>
    </div>

  </form>
</div>