<div class="main">
  <div class="home-carousel">
    <ngb-carousel #carousel [interval]="5000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
      <ng-template ngbSlide *ngFor="let promo of promos; index as i">
        <div class="carousel-caption">
          <a [routerLink]="['/promotion/', promo.id]" class="product_name">
            <button class="btn-promo">Детальніше </button>
          </a>
        </div>
        <div class="picsum-img-wrapper">
          <img [src]="promo.image" alt="My image promo.image description" />
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="pizza-list">
    <div class="product-block">
      <div *ngFor="let pizza of all" class="child">
        <app-pizza-item [item]="pizza"></app-pizza-item>
      </div>
    </div>
  </div>
</div>