<div class="main">
  <div class="home-carousel">
    <swiper class="main-carousel">
      <ng-template swiperSlide *ngFor="let promo of promos$ | async">
        <div class="carousel-caption">
          <a [routerLink]="['/promotion/', promo.id]" class="product_name">
            <button class="btn-promo">Детальніше</button>
          </a>
        </div>
          <img class="main-carousel__image" [src]="promo.image" alt="My image promo.image description" />
      </ng-template>
    </swiper>
  </div>

  <div class="pizza-list">
    <div class="product-block">
      <div *ngFor="let pizza of pizzas$ | async" class="child">
        <app-card-pizza [item]="pizza"></app-card-pizza>
      </div>
    </div>
  </div>
</div>
