<div class="product">
  @if (item(); as item) {
  <img class="product__image" [src]="item.product?.image || stubImage" alt="product" />
  <div class="product-description">
    <h4>{{ item.product?.name | lang }}</h4>

    @switch (item.type) {
    @case ('pizzas') {
    <ng-container>
      <h6>{{ "sizesLabels." + [item.size] | translate }}</h6>
      <h6>{{ (item.product?.size)[item.size] }} {{ "gram" | translate }}</h6>
    </ng-container>
    }
    @case ('drinks') {
    <ng-container>
      <h6>{{ (item.product?.size)[item.size] }} {{ "ml" | translate }}</h6>
    </ng-container>
    }
    }

    <div class="product-options">
      <div class="product_price">
        {{ item.price }}
        {{ "uah" | translate }}
      </div>

      <app-basket-in [productId]="item.id" [size]="item.size" [products]="[item]" (onChange)="onManageBasket($event)" />
    </div>
  </div>

  }
</div>