/* You can add global styles to this file, and also import other style files */
@forward "styles/base";

@forward "./styles/promotion.scss";
// @import "./styles/inputs";
// @import "./styles/table";
// @import "./styles/delivery.scss";
// @import "./styles/pagination.scss";
// @import "./styles/select.scss";
// @import "./styles/scroll.scss";
// @import "./styles/texts.scss";
// @import "./styles/products/index.scss";
// @import "./styles/dropdown";
// @import "./styles/multi-select";
// @import "./styles/checkbox";
// @import "./styles/menu";
// @import "./styles/dialog";
// @import "./styles/select-button";
// @import "./styles/calendar";
@forward "./styles/buttons";
// @import "./styles/tab-view";
// @import "./styles/icons";
// @import "./styles/toast";
// @import "./styles/switch";
// @import "./styles/forms";
@forward "../node_modules/leaflet/dist/leaflet.css";

.marker-popup {
  .leaflet-popup-content-wrapper {
    .leaflet-popup-content {
      // @include genText(13px, 18px, 500, gray);
    }
  }
  .leaflet-popup-tip {
    background-color: transparent;
    box-shadow: none;
  }
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 100%;
  padding: 0;
  font-size: 15px;
}

textarea {
  width: 100%;
  outline: none;
  border-radius: 8px;
  padding: 4px;
}
