<div class="table-responsive-sm">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">Full Name</th>
        <th scope="col">Role</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users$ | async; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.fullName }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.email }}</td>
        <td>
          <div class="icon-action">
            <i class="icon icon--trash" (click)="onDelete(user)"></i>
            <i class="icon icon--edit"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<p-paginator
  class="d-paginator"
  [totalRecords]="totalPages"
  [pageLinkSize]="5"
  [alwaysShow]="false"
  [rows]="rows"
  (onPageChange)="onPageChange($event.page)"
></p-paginator>
