<section class="table-container">

  <div class="table-caption">
    <app-global-table-search [table]="t" [searchId]="'users-search'" />
  </div>

  <app-table #t [value]="users.value()" [columns]="columns()" scrollHeight="65vh" [cellTemplate]="cellTemplate">

    <ng-template #cellTemplate let-rowData let-col="column">
      @switch (col.field) {

      @case('actions'){
      <ng-container>
        <div class="table-actions">
          <app-actions [data]="rowData" [actions]="actions" />
        </div>
      </ng-container>
      }

      @default {
      <ng-container>
        <span>{{ rowData[col.field]||'-' }}</span>
      </ng-container>
      }
      }
    </ng-template>

  </app-table>
</section>