<div class="content">
    <div class="nav-panel">
        <app-spin-button name="Pizzas" class="nav-item" color="basic" routerLink="pizzas"></app-spin-button>
        <app-spin-button name="Users" class="nav-item" color="basic" routerLink="users"></app-spin-button>
        <app-spin-button name="Deliveries" class="nav-item" color="basic" routerLink="deliveries"></app-spin-button>
        <app-spin-button name="Promotions" class="nav-item" color="basic" routerLink="promotions"></app-spin-button>
        <app-spin-button name="Shops" class="nav-item" color="basic" routerLink="shops"></app-spin-button>
    </div>
    <router-outlet></router-outlet>
</div>