$c-white: #ffffff;
$c-blue: #0c72ef;
$c-blue-hover: #073cff;
$c-black: black;
$c-gray: gray;
$c-gray-1: #ced4da;
$c-gray-2: #f3f4f5;
$c-light-gray: #f8f8f8;
$c-yellow: #f9dc0f;
$c-orange: #ffc01e;
$c-red: red;
$c-green: green;
