<div class="page">
  <span class="title">Create Promotion</span>
  <form [formGroup]="form" (ngSubmit)="create()" class="product">
    <div class="product_image">
      <app-form-item [control]="form.controls.image" field="Image">
        <app-file-uploader formControlName="image"></app-file-uploader>
      </app-form-item>
    </div>
    <div class="form">
      <div class="form-row">
        <app-form-item [control]="form.controls.title" field="Title">
          <input
            class="form-control"
            placeholder="Enter Title"
            formControlName="title"
          />
        </app-form-item>
        <app-form-item [control]="form.controls.startedAt" field="Started Date">
          <p-calendar
            formControlName="startedAt"
            class="d-calendar"
            [showIcon]="true"
            [firstDayOfWeek]="1"
            dateFormat="dd-mm-yy"
          ></p-calendar>
        </app-form-item>
      </div>

      <div class="form-row">
        <div class="description">
          <app-form-item
            [control]="form.controls.description"
            field="Description"
          >
            <textarea
              class="form-control"
              placeholder="Enter Description"
              formControlName="description"
            ></textarea>
          </app-form-item>
        </div>
      </div>
      <div class="form-row">
        <app-spin-button name="Create" [loading]="loading"></app-spin-button>
      </div>
    </div>
  </form>
</div>
