<h4>Create Pizza</h4>
<div class="product_photo">
  <div class="example-button-row">
    <input
      type="file"
      style="display:none"
      (change)="onFileSelected($event)"
      #fileInput
    />
    <img [src]="url" height="200" (click)="fileInput.click()" />
    <button mat-raised-button color="primary" (click)="upload()">
      Upload
    </button>
  </div>
</div>
<div class="product_profile">
  <form [formGroup]="formCreatingPizza" (ngSubmit)="onSubmit()">
    <div class="product_name">
      <mat-form-field appearance="outline" class="field">
        <mat-label>Enter Pizza Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
    </div>

    <div class="product_elements">
      <mat-form-field>
        <mat-label>Pizza Caregory</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let item of categories" [value]="item.value">
            {{ item.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ingredients</mat-label>
        <mat-select formControlName="ingredients" multiple>
          <mat-select-trigger>
            <span class="example-additional-selection"
              >{{ formCreatingPizza.controls.ingredients.value[0]?.name }} +
              {{ formCreatingPizza.controls.ingredients.value.length }}
              other(s)
            </span>
          </mat-select-trigger>
          <mat-option
            *ngFor="let ingredient of ingredients"
            [value]="ingredient"
          >
            {{ ingredient.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div formGroupName="weight">
      <div class="product_weigth">
        <mat-form-field appearance="outline">
          <mat-label>Lowest Weight</mat-label>
          <input matInput formControlName="small" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Middle Weight</mat-label>
          <input matInput formControlName="middle" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Highest Weight</mat-label>
          <input matInput formControlName="big" />
        </mat-form-field>
      </div>
    </div>
    <div formGroupName="price">
      <div class="product_price">
        <mat-form-field appearance="outline">
          <mat-label>Lowest Price</mat-label>
          <input matInput formControlName="low" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Middle Price</mat-label>
          <input matInput formControlName="medium" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Highest Price</mat-label>
          <input matInput formControlName="high" />
        </mat-form-field>
      </div>
    </div>
    <div class="example-button-row">
      <button mat-raised-button color="primary">Confirm</button>
    </div>
  </form>
</div>
