<h4>Create Pizza</h4>
<div *ngIf="pizzaId==''">
  <form [formGroup]="formCreatingPizza" (ngSubmit)="onSubmit()">
    <div class="ant-col">
      <div class="form-item">
        <app-form-item [control]="formCreatingPizza.controls.name" field="Name">
          <input class="form-control" formControlName="name" placeholder="Enter Name" />
        </app-form-item>
      </div>
      <div class="form-item">

        <app-form-item [control]="formCreatingPizza.controls.category" field="Category">
          <app-select formControlName="category" placeholder="Select Categories" [items]="categories" trackBy="value">
          </app-select>
        </app-form-item>

        <app-form-item [control]="formCreatingPizza.controls.ingredients" field="Ingredients">
          <ng-multiselect-dropdown [placeholder]="'Select Ingredients'" [data]="ingredients"
            formControlName="ingredients" [settings]="dropdownSettings">
          </ng-multiselect-dropdown>
        </app-form-item>
        
      </div>
    </div>
    <div formGroupName="weight">
      <div class="ant-col">

        <app-form-item [control]="formCreatingPizza.get('weight')['controls'].small" field="Small Weight">
          <input class="form-control" formControlName="small" placeholder="Enter Small Weight" />
        </app-form-item>

        <app-form-item [control]="formCreatingPizza.get('weight')['controls'].middle" field="Middle Weight">
          <input class="form-control" formControlName="middle" placeholder="Enter Middle Weight" />
        </app-form-item>

        <app-form-item [control]="formCreatingPizza.get('weight')['controls'].big" field="Big Weight">
          <input class="form-control" formControlName="big" placeholder="Enter Big Weight" />
        </app-form-item>

      </div>
    </div>
    <div formGroupName="price">
      <div class="ant-col">

        <app-form-item [control]="formCreatingPizza.get('price')['controls'].small" field="Small Price">
          <input class="form-control" formControlName="small" placeholder="Enter Small Price" />
        </app-form-item>

        <app-form-item [control]="formCreatingPizza.get('price')['controls'].middle" field="Middle Price">
          <input class="form-control" formControlName="middle" placeholder="Enter Middle Price" />
        </app-form-item>

        <app-form-item [control]="formCreatingPizza.get('price')['controls'].big" field="Big Price">
          <input class="form-control" formControlName="big" placeholder="Enter Big Price" />
        </app-form-item>
      </div>
    </div>
    <div class="ant-col">

      <app-spin-button #next name="Confirm" [loading]="spinCreatePizza">
      </app-spin-button>
    </div>
  </form>
</div>

  <form [formGroup]="uploadImage">
    <app-file-uploader [src]="url" (upload)="showFile($event)"></app-file-uploader >
    <app-spin-button name="Upload" [loading]="spinUpload" (click)="upload()"></app-spin-button>
  </form>