<div class="dp-header-desktop">
  <div class="fake-header">Fake Header</div>
  <div class="main-header">
    <a class="logo" routerLink="/"> Domino's Pizza </a>
    <nav class="navigation">
      <div class="nav-link">
        <a (click)="open()">Додати піцу</a>
      </div>
    </nav>
    <div class="market">
      <div class="count">{{ count }}</div>
      <div class="total-price" *ngIf="amount > 0">
        <span>{{ amount }} грн </span>
      </div>
      <button>
        <a routerLink="/delivery/shipping">Замовити</a>
      </button>
    </div>
  </div>
</div>
