<header class="dp-header-desktop">
  <div class="fake-header">
    <button class="nav" *ngxPermissionsOnly="canManagePizza" routerLink="/admin/pizzas">Admin Panel</button>
    <app-menu *ngIf="currentUser" [user]="currentUser">
      <button ngbDropdownItem routerLink="auth/user-settings"> User Settings</button>
      <button ngbDropdownItem (click)="logout()">Log Out</button>
    </app-menu>
    <button class="nav" (click)="openModal()" *ngIf="!currentUser"> Log In </button>
  </div>
  <div class="main-header">
    <div class="navigation">
      <h2 class="logo" routerLink="/"> Domino's Pizza </h2>

      <div class="nav" appMenu>
        <span routerLink="/promotion" routerLinkActive="active">Акції</span>
        <span routerLink="/pizza" routerLinkActive="active">Піца</span>
        <span routerLink="/">Напої</span>
        <span routerLink="/">Сайди</span>
        <span routerLink="/">Десерти</span>
      </div>
      <div class="market" [ngClass]="{ disabled: basket.count === 0 }">
        <div class="count">{{ basket.count }}</div>
        <div class="total-price" *ngIf="basket.amount > 0">
          <span>{{ basket.amount }} UAH </span>
        </div>
        <a routerLink="/delivery/shipping">
          <button class="basket-button">Замовити</button>
        </a>
      </div>

      <app-menu class="mini-menu">
        <button ngbDropdownItem routerLink="/"> Main</button>
        <button ngbDropdownItem routerLink="/promotion"> Promotions</button>
        <button ngbDropdownItem routerLink="/pizza"> Pizzas</button>
        <button ngbDropdownItem routerLink="/"> Drinks</button>
        <button ngbDropdownItem routerLink="/"> Сайди</button>
        <button ngbDropdownItem routerLink="/"> Десерти</button>
      </app-menu>
    </div>
  </div>
</header>