<div class="dp-header-desktop">
  <div class="fake-header">
    <a routerLink="/products/pizza/create">
      <button mat-button>Створити піцу</button>
    </a>

    <button mat-button (click)="openAuthModal()" *ngIf="!currentUser">
      Авторизація
    </button>
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="currentUser">
      <span>{{ currentUser?.username }}</span>
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        face</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="auth/user-settings">
        User Settings
      </button>
      <button mat-menu-item (click)="logout()">Log Out</button>
    </mat-menu>
  </div>
  <div class="main-header">
    <a class="logo" routerLink="/"> Domino's Pizza </a>
    <nav class="navigation"></nav>
    <div class="market" [ngClass]="{ disabled: count === 0 }">
      <div class="count">{{ count }}</div>
      <div class="total-price" *ngIf="amount > 0">
        <span>{{ amount }} грн </span>
      </div>
      <a routerLink="/delivery/shipping">
        <button>Замовити</button>
      </a>
    </div>
  </div>
</div>
<div class="fixed_header"></div>