.dp-header-desktop {
  position: fixed;
  width: 100%;
  color: rgb(151, 151, 142);
  font-weight: bold;
  font-size: large;
  z-index: 20;

  .fake-header {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #4f4f4f;
    justify-content: flex-end;

    button {
      background-color: gray;
      height: 34px;
      border: 0px;
      margin: 0px 10px;

      &:hover {
        background-color: snow;
        color: black;
      }
    }
  }

  .main-header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;

    button {
      width: 145px;
      height: 46px;
      border-radius: 23px;
      border: 1px solid snow;
      background: #e31837;
      color: white;
      font-weight: bold;
      font-size: 14px;
      cursor: pointer;
      outline: none;

      &:hover {
        font-weight: bolder;
        background: red;
      }
    }
  }
}
.fixed_header {
  display: block;
  width: 100%;
  height: 120px;
  margin: 0 0 20px;
  z-index: 10;
}

.logo {
  display: flex;
  color: white;
  font-size: 25px;
  width: 20%;
}

.navigation {
  color: white;
  width: 55%;
  display: flex;

  .nav-link {
    justify-content: center;
    text-align: center;
    width: 25%;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 3%;
  }

  a {
    color: lavender;

    &:hover {
      text-decoration: none;
      font-weight: bolder;
      color: lavender;
    }
  }
}

.market {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  background-color: white;
  max-width: 320px;
  height: 50px;
  border-radius: 25px;

  .count {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #585757;
    cursor: pointer;
    color: snow;
    text-align: center;
    padding: 9px;
  }

  .total-price {
    width: 120px;
    text-align: center;
    padding: 9px;

    span {
      font-size: 14px;
    }
    &:hover {
      color: black;
    }
  }
}

a {
  cursor: pointer;
  text-decoration: none;
  color: snow;
}
.disabled {
  opacity: 0.7;
  cursor: not-allowed;
  pointer-events: none;
}


.mat-menu-trigger {
  min-width: 150px;
  border-radius: 5px;
  outline: none;

  mat-icon {
    color: black;
    margin-left: 5px;
    margin-bottom: 5px;
  }
}

button:not(:disabled) {
  color: black;
}