@for ( validation of list; track validation) {
<div>

  @if (withError()) {
  <div class="error">

    @switch (validation.type) {
    @case ('required') {
    {{ "validation.required" | translate: { field: field } }}
    }
    @case ('mismatch') {
    "{{ field }}" must be equal to "{{ otherField }}".
    }

    @case('minlength'){
    "{{ field }}" should contain at least
    {{ control().errors.minlength.requiredLength | i18nPlural: { "=1": "1 character", other: "# characters" } }}.
    }

    @case ('maxlength') {
    "{{ field }}" should contain at most
    {{ control().errors.maxlength.requiredLength| i18nPlural: { "=1": "1 character", other: "# characters" } }}.
    }

    @case ('email') {
    {{ field }}" is not a valid email address.
    }
    @case ('url') {
    {{ field }}" is not a valid link.
    }

    @case ('min') {
    "{{ field }}" must be no less than {{ control().errors.min.min }}
    }

    @case ('max') {
    "{{ field }}" must be no greater than {{ control().errors.max.max }}
    }

    @case ('phoneNumber') {
    "{{ field }}" is not a valid phone number.
    }

    @case ('password') {
    "{{ field }}" should contain at least 8 symbols, one upper case, one lowercase and one number
    }

    @case ('confirmPasswordError') {
    "{{ field }}" must be equal to "{{ otherField }}".
    }

    @case('requiredWhen'){
    "{{ field }}" can't be empty.
    }

    @case('apiValidation'){
    {{ control().errors.apiValidation }}
    }

    }
  </div>
  }
</div>
}