@for (validation of errors(); track $index) {
<ng-container>
  @if (withError(validation)) {
  <div [class]="styleClass()" ngClass="error">

    <ng-container>
      @switch (validation.type) {

      @case ('required') {
      <ng-container>
        {{
        field()
        ? ("validations.required" | translate: { field: field() })
        : ("validations.general.required" | translate)
        }}
      </ng-container>
      }

      @case ('minlength') {

      <ng-container>
        {{ field()
        ? ("validations.minlength" | translate : { field: field(), value: control().errors?.minlength?.requiredLength })
        : ("validations.general.minlength" | translate : { value: control().errors?.minlength?.requiredLength })
        }}
      </ng-container>
      }

      @case ('maxlength') {
      <ng-container>
        {{field()
        ? ("validations.maxlength" | translate: { field: field(), value: control().errors?.maxlength?.requiredLength })
        : ("validations.general.maxlength" | translate : {field: field(), value:
        control().errors?.maxlength?.requiredLength
        })
        }}
      </ng-container>
      }

      @case ('email') {
      <ng-container>
        {{ "validations.email" | translate: { field: field() } }}
      </ng-container>
      }

      @case('min'){
      <ng-container>
        {{
        field()
        ? ("validations.min" | translate : { field: field(), value: control().errors?.min?.min })
        : ("validations.general.min" | translate: { value: control().errors?.min?.min })
        }}
      </ng-container>
      }

      @case ('max') {
      <ng-container>
        {{
        field()
        ? ("validations.max"| translate : { field: field(), value: control().errors?.max?.max })
        : ("validations.general.max"| translate: { value: control().errors?.max?.max })
        }}
      </ng-container>
      }

      @case('fileExtension'){
      <ng-container>
        {{ "validations.fileExtension" | translate: { value: control().errors?.fileExtension?.expected } }}
      </ng-container>
      }

      @case ('fileSize') {
      <ng-container>
        {{ "validations.fileSize"| translate: { value: control().errors?.fileSize?.expected } }}
      </ng-container>
      }

      @case ('password') {
      <ng-container> {{ "validations.password" | translate: { field: field() } }} </ng-container>
      }

      @case ('confirmPasswordError') {
      <ng-container>
        {{ "validations.confirmPasswordError" | translate: { field:field(), otherField: otherField() } }}
      </ng-container>
      }

      @case ('backendErr') {
      <ng-container>
        @for (message of control()?.errors?.backendErr; track $index) {
        {{"validations.backendErr" | translate: { value: message } }}
        }
      </ng-container>
      }

      @default {
      <ng-container> {{ validation?.message || "" | translate }} </ng-container>
      }
      }
    </ng-container>
  </div>
  }
</ng-container>
}